<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="ja" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <style>
        {#{% include 'commerce/style.css' %}#}
        body {
            margin:0;
            padding:0;
            background: #ffffff;
        }
        h4 {
            font-size:26px;
            font-weight:700;
            font-family: DejaVu Sans;
            margin:20px 0 30px 0;
            line-height:100%;
        }
        table {
            width:100%;
            table-layout: fixed;
            border:0;
            border-collapse: collapse;
            padding:0;
            margin: 30px 0;
        }
        table.details {
            border:1px solid #ccc;
            border-collapse: separate;
            border-spacing: 2px;
            padding:0;
        }
        table td, table th {
            padding:10px;
            vertical-align: top;
            border: 0;
            text-align: left;
        }
        table.details td, table.details th {
            border:1px solid #eeeeee;
        }
        table.details th {
            background: #efefef;
            line-height:100%;
        }
        table.heading th {
            font-size:18px;
        }
        table td {
            font-size:14px;
            line-height:130%;
        }
        table td ul {
            margin:0;
            padding:0;
            list-style-type:none;
        }
        table tr ul li {
            margin:0;
            padding:0 0 10px 0;
            font-size:14px;
        }
        table td, table th, table td ul li,table td p,table h5 {
            line-height:130%;
            color: #000000;
            font-family: DejaVu Sans;
        }
        table h5 {
            font-size:18px;
            margin:0;
        }
        .twelve.columns {
            padding:1px;
        }
    </style>
</head>

<body>

    {% set iso = 'GBP' %}
    {% for item in order.lineItems %}
        {% if loop.first %}
            {% set product = craft.commerce.products.hasVariant({ sku: item.getSku() }).first() %}
            {% if product.relatedCities[0].currencyIsoCode|length > 0 %}
                {% set iso = product.relatedCities[0].currencyIsoCode %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% set orderTable %}
        <div class="row" style="font-family: DejaVu Sans;">
            <div class="twelve columns">
                <table class="u-full-width heading">
                    <tr>
                        <th>Details</th>
                        <th>Billing Address</th>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><strong>Customer:</strong> {{ order.customer.email }}</li>
                                <li><strong>Total:</strong> {{ order.totalPrice|commerceCurrency(iso, convert=false) }}</li>
                                <li><strong>Paid:</strong> {{ order.totalPaid|commerceCurrency(iso, convert=false) }} {{ order.datePaid|date('D dS M Y') }}</li>
                                <li><strong>Date:</strong> {{ order.dateOrdered }}</li>
                            </ul>
                        </td>
                        <td>

                            {% if order.billingAddress %}
                                {% include 'commerce/_includes/addresses/address' with { address: order.billingAddress } %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="twelve columns">
                <table class="u-full-width details">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th style="text-align:right;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.lineItems %}
                            <tr>
                                <td valign="top">
                                    <strong>{{ item.description }}</strong><br>
                                    SKU: {{ item.sku }}
                                </td>
                                <td>
                                    {% if item.onSale %}
                                        <strike>{{ item.price|commerceCurrency(iso, convert=false) }}</strike>   {{ item.salePrice|commerceCurrency(iso, convert=false) }}
                                    {% else %}
                                        {{ item.price|commerceCurrency(iso, convert=false) }}
                                    {% endif %}
                                </td>
                                <td>{{ item.qty }}</td>
                                <td style="text-align:right;">{{ item.total|commerceCurrency(iso, convert=false) }}</td>
                            </tr>
                        {% endfor %}

                        {% for adjustment in order.adjustments %}
                            {% if adjustment.type == 'Discount' %}
                                <tr>
                                    <td><strong>{{ adjustment.type }}</strong></td>
                                    <td colspan="2">{{ adjustment.name }}<br>({{ adjustment.amount|commerceCurrency(iso,convert=true) }} using code {{ adjustment.optionsJson.code }})</td>
                                    <td style="text-align:right;">{{ adjustment.amount|commerceCurrency(iso,convert=true) }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ adjustment.type }}</td>
                                    <td colspan="2"><strong>{{ adjustment.name }}</strong><br>({{ adjustment.description }})</td>
                                    <td style="text-align:right;">{{ adjustment.amount|commerceCurrency(iso, convert=false) }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="4" style="text-align:right;">
                                <strong>Item Total:</strong> {{ order.itemTotal|commerceCurrency(iso, convert=false) }}<br>
                                <strong>Base Discount:</strong> {{ order.baseDiscount|commerceCurrency(iso, convert=false) }}<br>
                                <strong>Base Shipping Rate:</strong> {{ order.baseShippingCost|commerceCurrency(iso, convert=false) }}<br>
                                <h5 style="margin-top:20px;">Total: {{ order.totalPrice|commerceCurrency(iso, convert=false) }}</h5>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    {% endset %}

    {# Use the option param passed into the pdf template to show different order pdf's depending on the context #}
    {% set logoUrl = "./uploads/company/smr_logo.png" %}
    {% if craft.locale != "en_gb" %}
        {% set logoUrl = "./../uploads/company/smr_logo.png" %}
    {% endif %}

    {% switch option %}
    {% case "receipt" %}
        <img src="{{ logoUrl }}" style="height:60px;border: 0;margin:0 0 30px 0;">
        <h4>Receipt for Order #{{ order.number[:7] }}</h4>
        {{ orderTable }}
    {% case "ajax" %}
        <img src="{{ logoUrl }}" style="height:60px;border: 0;margin:0 0 30px 0;">
        <h4>NA</h4>
    {% default %}
        <img src="{{ logoUrl }}" style="height:60px;border: 0;margin:0 0 30px 0;">
        <h4>Order #{{ order.number[:7] }}</h4>
        {{ orderTable }}
    {% endswitch %}

</body>
</html>
