<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>Square Mile Relay</title>

	<meta name="description" content="Square Mile Relay">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

	<link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600'>
	<link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" type='text/css' href="{{ url('commerce/style.css') }}">
	<link rel="stylesheet" href="{{ craft.config.environmentVariables.baseUrl }}library/css/style.css?v=9">

</head>
<body class="payment-iframe {{ craft.locale }}">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% set cart = craft.commerce.cart %}

{% block body %}
	<div id="main" class="container">
		{% block main %}
			<div class="row">
				<div class="twelve columns">
					<h4>Default Content</h4>
					<p>You should not see this.</p>
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}

 <!-- Bootstrap -->
<script src="{{ craft.config.environmentVariables.baseUrl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
<script src="/app.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}/bower_components/isotope/dist/isotope.pkgd.min.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}/bower_components/flickity/dist/flickity.pkgd.min.js"></script>
<script src="https://npmcdn.com/isotope-packery@2/packery-mode.pkgd.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}/bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}/bower_components/tablesorter/jquery.tablesorter.min.js"></script>
<!-- Main JS -->
<script src="{{ craft.config.environmentVariables.baseUrl }}/library/js/min/plugins-min.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}/library/js/min/script-min.js"></script>

</body>
</html>
