{% cache %}
{% set limit = 15 %}
{% set params = { section: 'company', limit: limit, order: 'title' } %}
{% paginate craft.entries(params) as companies %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {{ 'no-results'|t }}
{% else %}

    {% for company in companies %}
        {% set image = company.companyLogo.first() %}
        {% set relatedTeams = craft.entries.section('team').relatedTo(company) %}
        {% set teamCount = 0 %}
        {% set years = [] %}
        {% set cities = [] %}
        {% for team in relatedTeams %}

            {% if team|length %}
                {% set event = team.relatedEvent.first() %}
                {% if event|length %}
                    {% set teamMembers = craft.entries.section('runningResults').relatedTo(team) %}
                    {% set teamMember = teamMembers.first() %}
                    {% if teamMember|length and teamMember.finishTime|length %}

                        {% set teamCount = teamCount + 1 %}
                        {% set year = event.startDateTime | date('Y') %}
                        {% if year not in years %}
                            {% set years = years | merge([year]) %}
                        {% endif %}
                        {% set city = event.relatedCity.first() %}
                        {% if city is not null and city.slug not in cities %}
                            {% set cities = cities | merge([city.slug]) %}
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% set yearsFilters = years | join(' ') %}
        {% set citiesFilters = cities | join(' ') %}

        <div class="companies-item grid-item {{ yearsFilters }} {{ citiesFilters }}">
            <a href={{ company.url }} class="cover-link"></a>
            {% if image|length %}
            <div class="img-container" style="background-image: url({{ image.url }})"></div>
            {% endif %}
            <h3>{{ company.title }}</h3>

            {% if teamCount == 0 %}
                <h4 class="white">No teams</h4>
            {% else %}
                {% if teamCount == 1 %}
                    <h4>{{ teamCount }} {{ 'team'|t }}</h4>
                {% else %}
                    <h4>{{ teamCount }} {{ 'teams'|t }}</h4>
                {% endif %}
            {% endif %}

        </div>

    {% endfor %}

{% endif %}

{% endpaginate %}
{% endcache %}