{% cache %}
{% set limit = 30 %}

{% set searchTerm = craft.request.getParam('search') %}
{% set searchCity = craft.request.getParam('city') %}
{% set searchYear = craft.request.getParam('year') %}

{% set params = { section: 'company', limit: limit, order: 'title', search: searchTerm } %}
{% paginate craft.entries(params) as companies %}

{% if craft.request.getPageNum() > paginate.totalPages %}
     {% if craft.request.getPageNum() == 1 %}
        <div class="no-results companies-item grid-item">
            <h2>{{ 'Sorry there are currently no results for your search!'|t }}</h2>
            <p>{{ 'Try making your search less specific.'|t }}</p>
        </div>
    {% else %}
        <div class="no-results companies-item grid-item">
            <h2>{{ 'You have reached the finish line!'|t }}</h2>
            <p>{{ 'There are no more results.'|t }}</p>
        </div>
    {% endif %}
{% else %}

    {% for company in companies %}
        {% set image = company.companyLogo.first() %}

        {% set teamSearch = "" %}
        {% if searchCity == "" %}{% set teamSearch = searchYear %}{% endif %}
        {% if searchYear == "" %}{% set teamSearch = searchCity %}{% endif %}
        {% if searchCity != "" and searchYear != "" %}{% set teamSearch = searchCity ~ '-' ~ searchYear %}{% endif %}

        {% if teamSearch == "" %}
            {% set teamParams = { section: 'team', order: 'title', relatedTo: company, limit: null  } %}
        {% else %}
            {% set teamParams = { section: 'team', order: 'title', relatedTo: company, limit: null, search: 'relatedEvent:' ~ teamSearch  } %}
        {% endif %}

        {% set relatedTeams = craft.entries(teamParams) %}
        {% set teamCount = 0 %}
        {% set years = [] %}
        {% set cities = [] %}
        {% set events = [] %}
        {% for team in relatedTeams %}

            {% if team|length %}
                {% set event = team.relatedEvent.first() %}
                {% if event|length %}
                    {% set teamMembers = craft.entries.section('runningResults').relatedTo(team) %}
                    {% set teamMember = teamMembers.first() %}
                    {% if teamMember|length and teamMember.finishTime|length %}

                        {% set teamCount = teamCount + 1 %}
                        {% set year = event.startDateTime | date('Y') %}
                        {% if year not in years %}
                            {% set years = years | merge([year]) %}
                        {% endif %}
                        {% set city = event.relatedCity.first() %}
                        {% if city is not null and city.slug not in cities %}
                            {% set cities = cities | merge([city.slug]) %}
                        {% endif %}

                        {% if event.slug not in events %}
                            {% set events = events | merge([event.slug]) %}
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endif %}

        {% endfor %}

        {% set yearsFilters = years | join(' ') %}
        {% set citiesFilters = cities | join(' ') %}
        {% set eventsFilters = events | join(' ') %}

       {% if teamSearch == ""%}
           <div class="companies-item grid-item {{ yearsFilters }} {{ citiesFilters }} {{ eventsFilters }}">
                <a href={{ company.url }} class="cover-link"></a>
                {% if image|length %}
                <div class="img-container" style="background-image: url({{ image.url }})"></div>
                {% endif %}
                <h3>{{ company.title }}</h3>

                {% if teamCount == 0 %}
                    <h4 class="white">{{ 'No teams'|t }}</h4>
                {% else %}
                    {% if teamCount == 1 %}
                        <h4>{{ teamCount }} {{ 'team'|t }}</h4>
                    {% else %}
                        <h4>{{ teamCount }} {{ 'teams'|t }}</h4>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
            {% if teamCount > 0 %}
            <div class="companies-item grid-item {{ yearsFilters }} {{ citiesFilters }} {{ eventsFilters }}">
                <a href={{ company.url }} class="cover-link"></a>
                {% if image|length %}
                <div class="img-container" style="background-image: url({{ image.url }})"></div>
                {% endif %}
                <h3>{{ company.title }}</h3>

                {% if teamCount == 0 %}
                    <h4 class="white">{{ 'No teams'|t }}</h4>
                {% else %}
                    {% if teamCount == 1 %}
                        <h4>{{ teamCount }} {{ 'team'|t }}</h4>
                    {% else %}
                        <h4>{{ teamCount }} {{ 'teams'|t }}</h4>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endif %}

    {% endfor %}

{% endif %}

{% endpaginate %}
{% endcache %}