{% cache %}

{# Get search terms #}
{% set searchTerm = craft.request.getParam('search') %}
{% set searchCity = craft.request.getParam('city') %}
{% set searchYear = craft.request.getParam('year') %}
{% set resultStatus = 0 %} {# 0 = results, 1 = no results, 2 = end of results #}

{% if (searchCity == "" and searchYear == "") or searchTerm != "" %}

    {# IF VIEW ALL #}
    {% set companyParams = {
        section: 'company',
        order: 'title',
        limit: 40,
        search: searchTerm
    } %}
    {% paginate craft.entries(companyParams) as companies %}

    {% if craft.request.getPageNum() > paginate.totalPages %}
        {% if craft.request.getPageNum() == 1 %}
            {% set resultStatus = 1 %}
        {% else %}
            {% set resultStatus = 2 %}
        {% endif %}
    {% endif %}

    {% if resultStatus == 0 %}
        <script>
            jQuery('.filter-group.large .filter').removeClass('active');
        </script>

        {% for company in companies %}
            <div class="companies-item grid-item">
                {# {% set image = company.companyLogo.first() %}
                <a href={{ company.url }} class="cover-link"></a>
                {% if image|length %}
                <div class="img-container" style="background-image: url({{ image.url }})"></div>
                {% endif %} #}
                <h3>All events</h3>
                <h3>{{ company.title }}</h3>

                {% set teams = craft.entries.section('team').relatedTo(company) %}
                {% if teams|length != 0 %}
                    {% if teams|length > 1 %}
                        <h4>{{ teams|length }} teams</h4>
                        {% else %}
                        <h4>{{ teams|length }} team</h4>
                    {% endif %}
                {% else %}
                    <h4 class="white">No teams</h4>
                {% endif %}
             </div>
        {% endfor %}
    {% endif %}

    {% endpaginate %}

{% else %}

    {# IF VIEW EVENT #}
    {% if searchCity != "" and searchYear == "" %}{% set searchTerm = searchCity %}{% endif %}
    {% if searchCity == "" and searchYear != "" %}{% set searchTerm = searchYear %}{% endif %}
    {% if searchCity != "" and searchYear != "" %}{% set searchTerm = searchCity ~ "-" ~ searchYear %}{% endif %}
    {% set eventParams = {
        section: 'event',
        order: 'title',
        limit: 1,
        search: searchTerm
    } %}

    {% paginate craft.entries(eventParams) as events %}

    {% if craft.request.getPageNum() > paginate.totalPages %}
        {% if craft.request.getPageNum() == 1 %}
            {% set resultStatus = 1 %}
        {% else %}
            {% set resultStatus = 2 %}
        {% endif %}
    {% endif %}

    {% for event in events %}

        {% set teamParams = {
            section: 'team',
            relatedTo: event,
            limit: null,
            order: 'title',
            search: 'relatedCompany:*'
        } %}
        {% set teams = craft.entries(teamParams) %}

        {% set teamsByCompany = teams|groupBy('relatedCompany.title') %}

        {% if resultStatus == 0 %}

            <script>
                jQuery('.load-more').addClass('hide');
            </script>

            {% for company, teams in teamsByCompany %}

                <div class="companies-item grid-item">
                    {% set relatedCompany = teams[0].relatedCompany.first() %}
                    {#{% set image = relatedCompany.companyLogo.first() %}
                    <a href={{ relatedCompany.url }} class="cover-link"></a>
                    {% if image|length %}
                    <div class="img-container" style="background-image: url({{ image.url }})"></div>
                    {% endif %} #}
                    <h3>{{ event.title }}</h3>
                    <h3>{{ relatedCompany.title }}</h3>

                    {% if teams|length != 0 %}
                        {% if teams|length > 1 %}
                            <h4>{{ teams|length }} teams</h4>
                            {% else %}
                            <h4>{{ teams|length }} team</h4>
                        {% endif %}
                    {% else %}
                        <h4 class="white">No teams</h4>
                    {% endif %}
                </div>

            {% endfor %}
        {% endif %}

    {% endfor %}

    {% endpaginate %}

{% endif %}

{% if resultStatus == 1 %}
    <div class="no-results companies-item grid-item">
        <h2>{{ 'Sorry there are currently no results for your search!'|t }}</h2>
        <p>{{ 'Try making your search less specific.'|t }}</p>
    </div>
{% endif %}

{% if resultStatus == 2 %}
    <div class="no-results companies-item grid-item">
        <h2>{{ 'You have reached the finish line!'|t }}</h2>
        <p>{{ 'There are no more results.'|t }}</p>
    </div>
{% endif %}

{% endcache %}