{% cache %}

{% set twelveMonthsAgo = now|date_modify('-12 months') %}

{% paginate craft.entries({
    section: 'event',
    order: 'startDateTime desc',
    search: 'eventImages:*',
    startDateTime: '>=' ~ twelveMonthsAgo
}) as events %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {{ 'no-results'|t }}
{% else %}

    {% for event in events %}
        {% set year = event.startDateTime|date('Y') %}
        {% set city = event.relatedCity.first() %}
        {% set images = event.eventImages %}
        {% for image in images %}
            {% set imageSmall = image.getUrl('newsThumb') %}
            {% set imageLarge = image.url %}

            <div class="img-item grid-item slider-modal-link {% if craft.request.isAjax %}ajax-item{% endif %} {{ year }} {% if city is not null %}{{ city.slug }}{% endif %}" data-toggle="modal" data-target="#media" data-src="{{ imageLarge }}" data-caption="{{ image.summaryText }}">
                <img src="{{ imageSmall }}" alt="Gallery Image">
                <p class="caption">{{ image.summaryText }}</p>
            </div>
        {% endfor %}
    {% endfor %}

{% endif %}

{% endpaginate %}
{% endcache %}