{% cache %}

{% set twelveMonthsAgo = now|date_modify('-12 months') %}
{% set searchTerm = craft.request.getParam('search') ~ " " %}
{% if searchTerm == " " %}{% set searchTerm = "" %}{% endif %}
{% set searchCity = "slug:" ~ craft.request.getParam('city') %}
{% if searchCity == "slug:" %}{% set searchCity = "" %}{% endif %}
{% set searchYear = craft.request.getParam('year') %}
{% if searchYear == " " %}{% set searchYear = "" %}{% endif %}
{% set search = searchTerm ~ searchCity ~ searchYear ~ " eventImages:*" %}

{% paginate craft.entries({
    section: 'event',
    order: 'startDateTime desc',
    search: search,
    limit: 1
}) as events %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {% if craft.request.getPageNum() == 1 %}
        <div class="no-results img-item grid-item">
            <h2>{{ 'Sorry there are currently no results for your search!'|t }}</h2>
            <p>{{ 'Try making your search less specific.'|t }}</p>
        </div>
    {% else %}
        <div class="no-results img-item grid-item">
            <h2>{{ 'You have reached the finish line!'|t }}</h2>
            <p>{{ 'There are no more results.'|t }}</p>
        </div>
    {% endif %}
{% else %}

    {% for event in events %}
        {% set year = event.startDateTime|date('Y') %}
        {% set city = event.relatedCity.first() %}
        {% set images = event.eventImages %}
        {% for image in images %}
            {% set imageWidth = 1920 %}
            {% set imageHeight = 1080 %}

            {% if image.height > image.width %}
                {% set imageWidth = 607 %}
                {% set imageHeight = 1080 %}
            {% endif %}

            {% set large = {
                    mode: 'crop',
                    width: imageWidth,
                    height: imageHeight,
                    quality: 85,
                    position: 'center-center'
            } %}

            {% set imageSmall = image.getUrl('newsThumb')|replace("http://squaremilecms.dev", "https://squaremilerelay.com") %}
            {% set imageLarge = image.getUrl(large)|replace("http://squaremilecms.dev", "https://squaremilerelay.com") %}

            <div class="img-item grid-item slider-modal-link {% if craft.request.isAjax %}ajax-item{% endif %} {{ year }} {% if city is not null %}{{ city.slug }}{% endif %}" data-toggle="modal" data-target="#media" data-src="{{ imageLarge }}" data-caption="{{ image.summaryText }}" data-id="{{ image.id }}">
                <img src="{{ imageSmall }}" alt="">
                {# <div style="background: red; height: 150px; width: 100%;">{{ city.slug }} {{ year }}</div> #}
                <p class="caption">{{ image.summaryText }}</p>
            </div>
        {% endfor %}
    {% endfor %}

{% endif %}

{% endpaginate %}
{% endcache %}