{% cache %}
{% set limit = 9 %}
{% set params = { section: 'news', limit: limit} %}
{% paginate craft.entries(params) as newsItems %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {{ 'no-results'|t }}
{% else %}
    {% for newsItem in newsItems %}

        {% set image = newsItem.coverImage.first() %}
        {% set cats = newsItem.relatedCategories %}
        {% set catFilterList = "" %}
        {% for cat in cats %}
            {% set catFilterList = catFilterList ~ " " ~ cat.slug %}
        {% endfor %}

        {% set count = 0 %}
        {% for block in newsItem.contentBlocks %}
            {% if block.type == "image" and count != 1 %}
                {% set image = block.image.first() %}
                {% set count = count + 1 %}
            {% endif %}
        {% endfor %}

        <div class="news-item grid-item {{ catFilterList }}">
            <a href={{ newsItem.url }} class="cover-link"></a>
            <div class="news-img" style="background-image: url({{ image.getUrl('newsThumb') }})"></div>
            <p class="date">{{ newsItem.postDate | date("j F Y") }} at {{ newsItem.postDate | date("h:i A") }}</p>
            <h3>{{ newsItem.title }}</h3>
            {% if cats | length %}
                <ul>
                    {% for cat in cats %}
                        <li>{{ cat.title }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>{{ newsItem.summaryText }}</p>
            <div class="btn btn-light btn-small">{{ 'Read More'|t }}</div>
        </div>

    {% endfor %}
{% endif %}

{% endpaginate %}
{% endcache %}