{% cache %}
{% set limit = 9 %}

{% set searchTerm = craft.request.getParam('search') %}
{% if searchTerm|length > 0 %}{% set searchTerm = "relatedCategories:" ~ searchTerm %}{% endif %}

{% set searchCity = craft.request.getParam('city') %}
{% set searchYear = craft.request.getParam('year') %}

{% set params = { section: 'news', limit: limit, search: searchTerm } %}
{% paginate craft.entries(params) as newsItems %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {% if craft.request.getPageNum() == 1 %}
        <div class="no-results news-item grid-item">
            <h2>{{ 'Sorry there are currently no results for your search!'|t }}</h2>
            <p>{{ 'Try making your search less specific.'|t }}</p>
        </div>
    {% else %}
        <div class="no-results news-item grid-item">
            <h2>{{ 'You have reached the finish line!'|t }}</h2>
            <p>{{ 'There are no more results.'|t }}</p>
        </div>
    {% endif %}
{% else %}
    {% for newsItem in newsItems %}

        {% set image = newsItem.coverImage.first() %}
        {% set cats = newsItem.relatedCategories %}
        {% set catFilterList = "" %}
        {% for cat in cats %}
            {% set catFilterList = catFilterList ~ " " ~ cat.slug %}
        {% endfor %}

        {% set count = 0 %}
        {% for block in newsItem.contentBlocks %}
            {% if block.type == "image" and count != 1 %}
                {% set image = block.image.first() %}
                {% set count = count + 1 %}
            {% endif %}
        {% endfor %}

        <div class="news-item grid-item {{ catFilterList }}">
            <a href={{ newsItem.url }} class="cover-link"></a>
            {% if image is not null %}
                <div class="news-img" style="background-image: url({{ image.getUrl('newsThumb') }})"></div>
            {% endif %}
            <p class="date">{{ newsItem.postDate | date("j F Y") }} {{ 'at'|t }} {{ newsItem.postDate | date("h:i A") }}</p>
            <h3>{{ newsItem.title }}</h3>
            {% if cats | length %}
                <ul>
                    {% for cat in cats %}
                        <li>{{ cat.title }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>{{ newsItem.summaryText }}</p>
            <div class="btn btn-light btn-small">{{ 'Read More'|t }}</div>
        </div>

    {% endfor %}
{% endif %}

{% endpaginate %}
{% endcache %}