{% set orderDir = craft.request.getParam('orderDir') %}
{% set orderBy = craft.request.getParam('orderBy') %}

{% if orderDir|length == 0 %} 
    {% set orderDir = 'asc' %}
{% endif %}

{% set searchTerm = craft.request.getParam('search') ~ " " %}
{% if searchTerm == " " %}{% set searchTerm = "" %}{% endif %}
{% set searchCity = craft.request.getParam('city') ~ " " %}
{% if searchCity == " " %}{% set searchCity = "" %}{% endif %}
{% set searchYear = craft.request.getParam('year') %}
{% if searchYear == " " %}{% set searchYear = "" %}{% endif %}
{% set search = searchTerm ~ searchCity ~ searchYear %}

{% if searchCity|length %}
    {% set search = 'title:' ~ searchCity %}
{% endif %}

{% if orderBy != '' %}
    {% if orderBy == 'Global Rank' %}
        {% set orderBy = 'globalTeamRank' %}
    {% endif %}
    {% if orderBy == 'City Rank' %}
        {% set orderBy = 'teamPosition' %}
    {% endif %}
    {% if orderBy == 'Team Name' %}
        {% set orderBy = 'teamName' %}
    {% endif %}
    {% if orderBy == 'Time' %}
        {% set orderBy = 'finishTime' %}
    {% endif %}
    {% if orderBy == 'Race Location' %}
        {% set orderBy = 'title' %}
    {% endif %}
    {% if orderBy == 'Race Year' %}
        {% set orderBy = 'startDateTime' %}
    {% endif %}
{% endif %}

{% if orderBy|length > 0 %}
    {% set order = orderBy ~ ' ' ~ orderDir %}
{% else %}
    {% set order = 'finishTime asc' %}
{% endif %}

{% cache %}

{% paginate craft.entries({
    section: 'runningResults',
    limit: 200,
    order: order,
    search: search
}).finishTime('not DNS').finishTime('not DNF').globalTeamRank('not 0') as teamResults %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {% if craft.request.getPageNum() == 1 %}
        <tr class="result-item grid-item">
            <td class="full-width" colspan="7">
                <div class="no-results">
                    <h2>{{ 'Sorry there are currently no results for your search!'|t }}</h2>
                    <p>{{ 'Try making your search less specific.'|t }}</p>
                </div>
            </td>
        </tr>
    {% else %}
        <tr class="result-item grid-item">
            <td class="full-width" colspan="7">
                <div class="no-results">
                    <h2>{{ 'You have reached the finish line!'|t }}</h2>
                    <p>{{ 'There are no more results.'|t }}</p>
                </div>
            </td>
        </tr>
    {% endif %}
{% else %}
    {% set count = 0 %}
    {% for team, result in teamResults|group('relatedTeam.first().title') %}
    
            {% set result = result[0] %}
        
            {% set event = result.relatedEvents.first() %}
            {% if event is null %}
                {% set year = '' %}
                {% set city = { 'slug': '', 'title': '' } %}
            {% else %}
                {% set year = event.startDateTime|date('Y') %}
                {% set city = event.relatedCity.first() %}
            {% endif %}

            <tr class="result-item grid-item {{ year }} {% if city is not null %}{{ city.slug }}{% endif %} {% if event is not null %}{{ event.slug }}{% endif %}">
                <td><strong>{{ result.globalTeamRank }}</strong></td>
                <td><strong>{{ result.teamPosition }}</strong></td>
                <td>
                    <strong>{{ result.teamName }}</strong>
                </td>
                <td>
                    {% if result.finishTime|length %}
                        <strong>{{ result.finishTime|split('.')[0] }}</strong>
                    {% else %}
                        <strong>{{ result.finishedStatus|split('.')[0] }}</strong>
                    {% endif %}
                </td>
                <td>{% if city is not null %}{{ city.title }}{% endif %}</td>
                <td>{{ year }}</td>
            </tr>
    {% endfor %}

{% endif %}

{% endpaginate %}
{% endcache %}