{% cache %}
{% paginate craft.entries({
    section: 'runningResults',
    limit: 200,
    order: 'finishTime',
    search: 'finishTime:*'
}) as teamResults %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {{ 'no-results'|t }}
{% else %}

    {% set count = 0 %}
    {% for results in teamResults|group('teamName')%}
        {% set count = count + 1 %}
        {% for result in results|slice(0, 1) %}
            {% set event = result.relatedEvents.first() %}
            {% set year = event.startDateTime|date('Y') %}
            {% set city = event.relatedCity.first() %}
            {% if city is not null %}
                <tr class="{{ year }} {{ city.slug }}">
                    <td><strong>{{ ((paginate.currentPage - 1) * 20) + count }}</strong></td>
                    <td><strong>{{ result.teamPosition }}</strong></td>
                    <td>
                        <strong>{{ result.teamName }}</strong>
                    </td>
                    <td>
                        {% if result.finishTime|length %}
                            <strong>{{ result.finishTime|split('.')[0] }}</strong>
                        {% else %}
                            <strong>{{ result.finishedStatus|split('.')[0] }}</strong>
                        {% endif %}
                    </td>
                    <td>{{ city.title }}</td>
                    <td>{{ year }}</td>
                </tr>
            {% endif %}

        {% endfor %}
    {% endfor %}

{% endif %}

{% endpaginate %}
{% endcache %}