{% set searchTerm = craft.request.getParam('search') ~ " " %}
{% if searchTerm == " " %}{% set searchTerm = "" %}{% endif %}
{% set searchCity = craft.request.getParam('city') ~ " " %}
{% if searchCity == " " %}{% set searchCity = "" %}{% endif %}
{% set searchYear = craft.request.getParam('year') %}
{% if searchYear == " " %}{% set searchYear = "" %}{% endif %}
{% set search = "lapTime:* " ~ searchTerm ~ searchCity ~ searchYear %}
{# {% set search = searchTerm ~ searchCity ~ searchYear %} #}

{% cache %}
{% set allResults = craft.entries.section('runningResults').limit(1000).order('lapTime').search("lapTime:*") %}
{% set ranks = [] %}
{% for result in allResults %}
    {% set ranks = ranks|merge({ ("#" ~ result.id): loop.index }) %}
{% endfor %}

{% paginate craft.entries({
    section: 'runningResults',
    limit: 20,
    order: 'lapTime, lapPosition',
    search: search
}) as individualResults %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {% if craft.request.getPageNum() == 1 %}
        <tr class="result-item grid-item">
            <td class="full-width" colspan="7">
                <div class="no-results">
                    <h2>{{ 'Sorry there are currently no results for your search!'|t }}</h2>
                    <p>{{ 'Try making your search less specific.'|t }}</p>
                </div>
            </td>
        </tr>
    {% else %}
        <tr class="result-item grid-item">
            <td class="full-width" colspan="7">
                <div class="no-results">
                    <h2>{{ 'You have reached the finish line!'|t }}</h2>
                    <p>{{ 'There are no more results.'|t }}</p>
                </div>
            </td>
        </tr>
    {% endif %}
{% else %}

    {% for result in individualResults %}
        {% set event = result.relatedEvents.first() %}
        {% set year = event.startDateTime|date('Y') %}
        {% set city = event.relatedCity.first() %}
        {% if city is not null %}
            <tr class="result-item grid-item {{ year }} {{ city.slug }} {{ event.slug }}">
                <td><strong>{% if ranks["#" ~ result.id] is defined %}{{ ranks["#" ~ result.id] }}{% else %}{{ 'TBC'|t }}{% endif %}</strong></td>
                <td><strong>{{ result.lapPosition }}</strong></td>
                <td>
                    <strong>{{ result.runner }}</strong>
                </td>
                <td>
                {% if result.lapTime|length %}
                    <strong>{{ result.lapTime }}</strong>
                {% else %}
                    <strong>{{ result.finishedStatus }}</strong>
                {% endif %}
                </td>
                <td>{{ result.teamName }}</td>
                <td>{% if event|length and event.relatedCity|length %}{{ event.relatedCity.first().title }}{% endif %}</td>
                <td>{{ year }}</td>
            </tr>
        {% endif %}
    {% endfor %}

{% endif %}

{% endpaginate %}
{% endcache %}