{% set orderDir = craft.request.getParam('orderDir') %}
{% set orderBy = craft.request.getParam('orderBy') %}

{% if orderDir|length == 0 %} 
    {% set orderDir = 'asc' %}
{% endif %}

{% set searchTerm = craft.request.getParam('search') ~ " " %}
{% if searchTerm == " " %}{% set searchTerm = "" %}{% endif %}
{% set searchCity = craft.request.getParam('city') ~ " " %}
{% if searchCity == " " %}{% set searchCity = "" %}{% endif %}
{% set searchYear = craft.request.getParam('year') %}
{% if searchYear == " " %}{% set searchYear = "" %}{% endif %}
{% set search = "finishTime:* " ~ searchTerm ~ searchCity ~ searchYear %}

{% if craft.request.getParam('orderBy') is defined and craft.request.getParam('orderBy') is not null %}
    {% if craft.request.getParam('orderBy') == 'Global Rank' %}
        {% set orderBy = 'globalTeamRank' %}
    {% endif %}
    {% if craft.request.getParam('orderBy') == 'City Rank' %}
        {% set orderBy = 'teamPosition' %}
    {% endif %}
    {% if craft.request.getParam('orderBy') == 'Team Name' %}
        {% set orderBy = 'relatedTeam.first.teamName' %}
    {% endif %}
    {% if craft.request.getParam('orderBy') == 'Time' %}
        {% set orderBy = 'finishTime' %}
    {% endif %}
    {% if craft.request.getParam('orderBy') == 'Race Location' %}
        {% set orderBy = 'relatedEvent.first.realtedCity.first.title' %}
    {% endif %}
    {% if craft.request.getParam('orderBy') == 'Race Year' %}
        {% set orderBy = 'relatedEvent.first.startDateTime' %}
    {% endif %}
{% endif %}

{% if orderBy|length > 0 %}
    {% set order = ', ' ~ orderBy ~ ' ' ~ orderDir %}
{% else %}
    {% set order = '' %}
{% endif %}

{% cache %}

{% paginate craft.entries({
    section: 'runningResults',
    limit: 20,
    order: 'finishTime' ~ order,
    search: search
}) as teamResults %}

{% if craft.request.getPageNum() > paginate.totalPages %}
    {% if craft.request.getPageNum() == 1 %}
        <tr class="">
            <td class="full-width" colspan="7">
                <div class="no-results">
                    <h2>{{ 'Sorry there are currently no results for your search!'|t }}</h2>
                    <p>{{ 'Try making your search less specific.'|t }}</p>
                </div>
            </td>
        </tr>
    {% else %}
        <tr class="">
            <td class="full-width" colspan="7">
                <div class="no-results">
                    <h2>{{ 'You have reached the finish line!'|t }}</h2>
                    <p>{{ 'There are no more results.'|t }}</p>
                </div>
            </td>
        </tr>
    {% endif %}
{% else %}
    {% set count = 0 %}
    {% for team, result in teamResults|group('relatedTeam.first().title') %}
    
            {% set result = result[0] %}
        
            {% set event = result.relatedEvents.first() %}
            {% set year = event.startDateTime|date('Y') %}
            {% set city = event.relatedCity.first() %}

            <tr class="{{ year }} {{ city.slug }} {{ event.slug }}">
                <td><strong>{{ result.globalTeamRank }}</strong></td>
                <td><strong>{{ result.teamPosition }}</strong></td>
                <td>
                    <strong>{{ result.relatedTeam.first.teamName }}</strong>
                </td>
                <td>
                    {% if result.finishTime|length %}
                        <strong>{{ result.finishTime|split('.')[0] }}</strong>
                    {% else %}
                        <strong>{{ result.finishedStatus|split('.')[0] }}</strong>
                    {% endif %}
                </td>
                <td>{{ city.title }}</td>
                <td>{{ year }}</td>
            </tr>
    {% endfor %}

{% endif %}

{% endpaginate %}
{% endcache %}