{% extends 'commerce/_layouts/checkout' %}

{% block content %}

    {% set addresses = craft.commerce.customer.addresses %}

    {# UI when at least one address exists #}

    <div class="row">
        <div class="twelve columns">

            <div class="back" onclick="window.history.back();"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>{{ 'Back'|t }}</span></div>

            <form method="post">

                <input type="hidden" name="action" value="commerce/cart/updateCart">
                <input type="hidden" name="redirect" value="{{ siteUrl }}commerce/checkout/payment"/>

                <input type="hidden" name="shippingAddressId" value="new">

                {{ getCsrfInput() }}

                <div class="hide">
                    {% if not cart.email %}
                    <label for="">{{ 'Email'|t }}</label>
                    <input class="u-full-width" type="text" value="{{ currentUser.email }}" name="email"
                           placeholder="email@site.com"/>

                    <span class="flash">{{ cart.getErrors('email')|join }}</span><br>
                    {% endif %}
                </div>

                {% include 'commerce/_includes/addresses/fieldset' with {
                    title: "Billing Address"|t,
                    class: 'BillingAddress',
                    name: 'shippingAddress'
                } %}

                <input type="hidden" name="sameAddress" value="1">
                <input type="submit" class="btn btn-orange flr" value="{{ "Continue"|t }}">

            </form>


        </div>
    </div>

    {% includejs %}
    var $fieldsets = $('.address-fieldset');

    $fieldsets.each(function () {

        var $addressFieldset = $(this);

        $('.address-select', $addressFieldset).each(function () {

            this.$element = $(this);
            this.$radio = $('.radio input', this.$element);
            this.$body = $('.body', this.$element);

            this.$radio.change($.proxy(function () {
                $('.body', $addressFieldset).addClass('hidden');
                this.$body.removeClass('hidden');
            }, this));

            if (this.$radio.is(':checked')) {
            this.$body.removeClass('hidden');
            }
        });

    });

    $("#sameAddress").change(function (e) {
        $('.address-fieldset.BillingAddress').toggleClass('hidden');
    });

    {% if cart.billingAddressId and cart.billingAddress.hasErrors() %}
        $("#sameAddress").click();
    {% endif %}
    {% endincludejs %}

{% endblock %}
