{% if currentUser %}
    {% redirect 'commerce/checkout/addresses' %}
{% endif %}

{% extends 'commerce/_layouts/checkout' %}

{% block content %}
{% set citySelected = craft.request.getParam('city') %}

    <div class="row">
        <div class="six columns">

            <div class="back" onclick="window.history.back();"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>{{ 'Back'|t }}</span></div>

            <div class="modal-header">
                <h4 class="modal-title">{{ 'Existing User'|t }}</h4>
            </div>

            <form method="post" accept-charset="UTF-8">

                {{ getCsrfInput() }}

                <input type="hidden" name="action" value="users/login">
                <input type="hidden" name="redirect" value="{{ siteUrl }}commerce/checkout/addresses">

                {% if errorMessage is defined %}
                    <p class="error">{{ errorMessage }}</p>
                {% endif %}

                <div class="input-wrapper">
                    <input id="loginName" class="input" type="email" name="loginName" placeholder="{{ 'Email'|t }}"
                           value="{{ craft.session.rememberedUsername }}">
                    <label for="loginName">{{ 'Email'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ "That email is invalid."|t }}</div>
                </div>

                <div class="input-wrapper">
                    <input id="password" class="input" type="password" name="password" placeholder="{{ 'Password'|t }}">
                    <label for="password">{{ 'Password'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That password is invalid.'|t }}</div>
                </div>

                <label>
                    <input type="checkbox" name="rememberMe" value="1">
                    {{ 'Remember me'|t }}
                </label>

                <input type="submit" value="{{ 'Login'|t }}" class="btn btn-orange flr"/>

                <p><a href="#" class="send-to-forgot-password">{{ 'Forget your password?'|t }}</a></p>
            </form>
        </div>

        <div class="six columns">

            <div class="modal-header">
                <h4 class="modal-title">{{ 'New User?'|t }}</h4>
            </div>

            <form method="post" accept-charset="UTF-8">
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="squareMileRelay/users/create">
                <input type="hidden" name="redirect" value="{{ siteUrl }}commerce/checkout/addresses">

                {% if craft.request.post('email')|length or craft.request.post('email') != "" %}
                    <p class="error">{{ craft.request.post('email') }} {{'is already registered.'|t}}</p>
                {% endif %}

                <div class="input-wrapper required">
                    <input id="firstName" type="text" class="input" name="firstName" placeholder="{{ 'First Name'|t }}"
                    {%- if account is defined %} value="{{ account.firstName }}"{% endif -%}>
                    <label for="firstName">{{ 'First Name'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That name is invalid.'|t }}</div>
                </div>

                <div class="input-wrapper required">
                    <input id="lastName" type="text" class="input" name="lastName" placeholder="{{ 'Last Name'|t }}"
                    {%- if account is defined %} value="{{ account.lastName }}"{% endif -%}>
                    <label for="lastName">{{ 'Last Name'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That name is invalid.'|t }}</div>
                </div>

                <p>{{'If your company has taken part in our race before, please select from the list below:'|t}}</p>
                <div class="input-wrapper select related-company required">
                    {% set companies = craft.entries.section('company').order('title asc').limit(null) %}
                    {% if companies|length %}
                        <select name="fields[relatedCompany][]" id="relatedCompany" class="input" required>
                            <option value="" disabled selected hidden>{{ 'Please select your company'|t }}</option>
                            {% for company in companies %}
                                <option value="{{ company.id }}">{{ company.title }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    <label for="relatedCompany">{{ "Company"|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That company is invalid.'|t }}</div>
                </div>

                {% set currentLocale = craft.i18n.getCurrentLocale() %}
                <div class="input-wrapper checkbox">
                    <input id="newCompany" type="checkbox" class="input" name="newCompany" style="position: absolute;">
                    <label for="newCompany"></label>
                    {% if currentLocale.id == 'ja' %}
                        <p class="checkbox-paragraph" style="font-size: 14px; float: right; width: calc(100% - 50px); padding-left: 0;">{{ 'Is your company new to the Square Mile Relay?'|t }}</p>
                    {% else %}
                        <p class="checkbox-paragraph">{{ 'Is your company new to the Square Mile Relay?'|t }}</p>
                    {% endif %}
                </div>

                <div class="input-wrapper new-company-name hide">
                    <input id="newCompanyName" type="text" class="input" name="newCompanyName" placeholder="{{ 'Company Name'|t }}">
                    <label for="newCompanyName">{{ 'Company Name'|t }}</label>
                </div>

                <div class="input-wrapper required">
                    <input id="jobTitle" type="text" class="input" name="fields[jobTitle]" placeholder="{{ 'Job Title'|t }}"
                    {%- if account is defined %} value="{{ account.jobTitle }}"{% endif -%}>
                    <label for="jobTitle">{{ 'Job Title'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That Job Title is invalid.'|t }}</div>
                </div>

                <div class="input-wrapper required">
                    <input id="phoneNumber" type="text" class="input" name="phoneNumber" placeholder="{{ 'Phone Number'|t }}"
                    {%- if account is defined %} value="{{ account.phoneNumber }}"{% endif -%}>
                    <label for="phoneNumber">{{ 'Phone Number'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That Phone Number is invalid.'|t }}</div>
                </div>

                <div class="input-wrapper required">
                    <input id="email" type="email" class="input" name="email" placeholder="{{ 'Email'|t }}"
                    {%- if account is defined %} value="{{ account.email }}"{% endif %} required>
                    <label for="email">{{ 'Email'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That email is invalid.'|t }}</div>
                </div>

                <div class="input-wrapper required">
                    <input id="password" type="password" class="input" name="password" placeholder="{{ 'Password'|t }}" required>
                    <label for="password">{{ 'Password'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That password is invalid.'|t }}</div>
                </div>

                <input type="submit" value="{{ "Register"|t }}" class="btn btn-orange flr">
            </form>

        </div>
    </div>
{% endblock %}
