{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

    {% set logo = entry.companyLogo.first() %}
    <section class="single-company-heading">
        <div class="wrapper-thin">
            <div class="title">
                <h1>{{ entry.title }}</h1>
                <img src="{{ logo.url }}" alt={{ entry.title }}>
            </div>
        </div>
    </section>

    {% include "_includes/_cta-banner" %}

    {% set teams = craft.entries.section('team').relatedTo(entry).limit(null) %}
    <section class="single-company">
        <div class="teams-header">
            <h3>{{ 'Teams'|t }}</h3>
        </div>
        <div class="table-wrapper">
            <div class="isotope-no-items inactive">
                <h2>{{ 'Sorry!'|t }}</h2>
                <h3>{{ "There aren't any results for your filter search"|t }}</h3>
                <div class="btn btn-black filter" data-filter="*">{{ "View all categories"|t }}</div>
            </div>
            <table class="company-table">
                <thead>
                    <tr>
                        <th><span></span>{{ 'Team Name'|t }}</th>
                        <th><span></span>{{ 'City'|t }}</th>
                        <th><span></span>{{ 'Date'|t }}</th>
                        <th><span></span>{{ 'Finishing Position'|t }}</th>
                        <th><span></span>{{ 'Team Time'|t }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if teams|length %}
                        {% for team in teams %}
                            {% set event = team.relatedEvent.first() %}
                            {% set teamMembers = craft.entries.section('runningResults').relatedTo(team) %}
                            {% set city = event.relatedCity.first() %}
                            {% set date = event.startDateTime %}
                            {% set teamMember = teamMembers.first() %}
                            <tr class="heading-row {{ date|date('Y') }} {{ city.slug }}">
                                <td><strong>{{ team.title }}
                                {% if teamMember is not null %}
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                {% endif %}
                                </strong></td>
                                <td>{{ city.title }}</td>
                                <td>{{ date|date('F j Y') }}</td>
                                <td>
                                    {% if teamMember is not null %}
                                        {{ teamMember.teamPosition }}
                                    {% endif %}
                                </td>
                                <td>
                                    <strong>
                                    {% if teamMember is not null %}
                                        {{ teamMember.finishTime }}
                                    {% endif %}
                                    </strong>
                                </td>
                            </tr>
                            <tr class="child-row 2017 london">
                                <td class="table-expander" colspan="4">
                                    <div>
                                        {% set teamImage = team.teamPhoto.first() %}
                                        {% if teamImage %}
                                        <img src="{{ teamImage.url }}" alt="">
                                        {% endif %}
                                        {% if teamMembers|length %}
                                        <ul>
                                        {% for member in teamMembers %}
                                            <li>{{ loop.index }}. {{ member.runner }} <span>{{ member.lapTime }}</span></li>
                                            {% if loop.index == 5 %}
                                            </ul>
                                            <ul>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td colspan="4">
                                <div class="no-results">
                                    <h2>{{ 'Sorry!'|t }}</h2>
                                    <h3>{{ "This company currently doesn't have any team results, please check back later"|t }}</h3>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
