{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% if craft.request.isAjax %}
    {% set layout = "_ajaxLayout" %}
{% else %}
    {% set layout = "_layout" %}
{% endif %}

{% extends layout %}

{% block content %}


    {% if craft.request.isAjax %}

        {% include "_includes/loops/_companies-loop" %}

    {% else %}

        {% include "_includes/_page-header" %}
        {% include "_includes/_cta-banner" %}

        <section class="filters companies-filter active">
            <div class="filters-btn">
                <p>{{ 'filter'|t }}</p><i class="fa fa-chevron-down" aria-hidden="true"></i>
                <div class="search-results pull-right grid-search">
                    <input type="text" name="search">
                </div>
                <div class="view-all">
                    <div class="btn btn-orange-hollow filter" data-filter="*">{{ 'View All'|t }}</div>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
            <div class="filter-dropdown">
                {% set events = craft.entries.section('event') %}
                {% set years = [] %}
                {% if events | length %}
                    {% for event in events %}
                        {% set year = event.startDateTime | date('Y') %}
                        {% if year not in years %}
                            {% set years = years | merge([year]) %}
                        {% endif %}
                    {% endfor %}

                    <ul class="filter-group small">
                        {% for year in years %}
                            <li class="filter" data-filter="{{ year }}">{{ year }}</li>
                        {% endfor %}
                    </ul>

                {% endif %}
                {% set cities = craft.entries.section('city') %}
                {% if cities | length %}
                <ul class="filter-group large">
                    {% for city in cities %}
                        {% set latestEvent = craft.entries.section('event').relatedTo(city).order('startDateTime desc').first() %}
                        {% if latestEvent|length %}
                            <li class="filter" data-filter="{{ city.slug }}" data-latest-event="{{ latestEvent.startDateTime|date('Y') }}">{{ city.title }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </section>

        <section class="companies grid" data-section="companies" data-page="1" data-search="{{ craft.request.getParam('search') }}" data-city="{{ craft.request.getParam('city') }}" data-year="{{ craft.request.getParam('year') }}">

            {% include "_includes/loops/_companies-loop" %}

            <div class="load-more">
                <div class="btn btn-load-more">{{'Load More'|t}}</div>
            </div>

        </section>

        {% include "_includes/_loading" %}
        <br>
        <br>

    {% endif %}

{% endblock %}
