{% extends "account/_layout" %}

{% set teamSlug = craft.request.getSegment(3) %}
{% set team = craft.entries.section('team').slug(teamSlug).first() %}
{% set relatedEvent = team.relatedEvent.first() %}
{% set captain = team.teamCaptain.first() %}
{% set author = team.author %}
{% set today = date("now")|date("U") %}

{#
# User must be in the user group Team Captin
# to be able to view this page.
#}
{% set access = 0 %}

{% if currentUser.id == captain.id or currentUser.id == author.id %}
    {% set access = 1 %}
{% endif %}
{% if relatedEvent.lockTeamEditingFrom|date('U') < today %}
    {% set access = 0 %}
{% endif %}

{% if access == 0 %}
    {% redirect '/account/teams/' ~ team.slug %}
{% endif %}

{% import "_includes/forms/formFields" as formFields %}

{% block beforeHeading %}
    <div class="pull-right">
        {% include '_includes/city_picker' %}
    </div>
{% endblock %}

{% block subContent %}

    <section class="my-account tabs-container">
        <a href="{{ url('account/profile') }}" class="tab"><span class="text">{{ 'My Profile & Results'|t }}</span> <i class="fa fa-user" aria-hidden="true"></i></a>
        <a href="{{ url('account/teams') }}" class="tab active"><span class="text">{{ 'My Teams'|t }}</span> <i class="fa fa-users" aria-hidden="true"></i></a>
        <a href="{{ url('account/orders') }}" class="tab"><span class="text">{{ 'Orders & Billing'|t }}</span> <i class="fa fa-credit-card" aria-hidden="true"></i></a>

        <div class="tab-wrapper my-teams active">
            <h5>{{ 'My Teams'|t }} {% if relatedEvent|length %}- {{ relatedEvent.title }}{% endif %} - <span>{{ 'Edit Team'|t }}</span></h5>

            <div class="controls">
                <div class="team edit-team">
                    {% set inactiveMembers = team.teamMembers.status('pending')|length %}
                    {% set activeMembers = team.teamMembers.status('active')|length %}
                    {% set teamMembers = inactiveMembers + activeMembers %}
                    {% set percentage = (activeMembers/10) * 100 %}

                    <div class="progress-radial progress-{{ percentage }}">
                        <div class="overlay">
                            <div class="text">
                                <span>{{ percentage }}%</span>
                                {{ 'Complete'|t }}
                            </div>
                        </div>
                    </div>

                    <ul class="runners">
                        <li>{{ 'Runners Invited'|t }} <span>{{ teamMembers }}/{{ '10'|t }}</span></li>
                        <li>{{ 'Registration Completed'|t }} <span>{{ activeMembers }}/{{ '10'|t }}</span></li>
                    </ul>

                    <ul class="tasks">
                        {# Need to work out how we'll know if additional hospitality has been bought #}
                        <li>{{ 'Additional Hospitality'|t }} <i class="fa fa-times" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
            <div class="teams">
                {% if relatedEvent|length %}
                {% set relatedCity = relatedEvent.relatedCity.first() %}
                {% if relatedCity is not null %}
                    <h3>{{ relatedCity.title }}</h3>
                {% endif %}
                <h4>{{ relatedEvent.startDateTime|date('j F Y') }}</h4>
                {% endif %}

                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="squareMileRelay/teams/save">
                    <input type="hidden" name="redirect" value="account/teams">
                    <input type="hidden" name="teamId" value="{{ team.id }}">
                    {{ getCsrfInput() }}

                    {% set title = team is defined ? team.title : '' %}
                    {% set summaryText = team is defined ? team.summaryText : '' %}

                    {% if captain|length and (currentUser.id == captain.id or currentUser.id == author.id) %}

                        <div class="input-wrapper">
                            {% set titleLabel = 'Team Name'|t %}
                            {{ formFields.input({
                                id:    'title',
                                label: titleLabel,
                                name:  'title',
                                placeholder: titleLabel,
                                value: title
                            }) }}
                        </div>

                        <div class="input-wrapper hide">
                            {% set slugLabel = 'Team Slug'|t %}
                            {{ formFields.input({
                                id:    'slug',
                                label: slugLabel,
                                name:  'slug',
                                placeholder: slugLabel,
                                value: slug
                            }) }}
                        </div>

                        <div class="input-wrapper">
                            {% if currentUser %}
                                {% set teamCaptainLabel = 'Team Captain'|t %}

                                {{ formFields.dropdown({
                                    id:         'teamCaptain',
                                    name:       'fields[teamCaptain][]',
                                    label:      teamCaptainLabel,
                                    value:      team.teamCaptain.first() ? team.teamCaptain.first().id : null,
                                    options:    team.teamMembers,
                                    optionKeys: [
                                        'id',
                                        'firstName'
                                    ]
                                }) }}
                            {% endif %}
                        </div>

                    <div class="input-wrapper edit-element">
                        <label for="teamPhoto" class="active">{{ 'Team Photo'|t }}</label>
                        <input type="file" name="teamPhoto" value="{{ 'Upload Image'|t }}" class="input">
                    </div>

                    <div class="input-wrapper textarea">
                        {% set summaryTextLabel = 'Team Description'|t %}

                        {{ formFields.textArea({
                            id:    'summaryText',
                            label: summaryTextLabel,
                            name:  'fields[summaryText]',
                            rows:  4,
                            placeholder: summaryTextLabel,
                            value: team.summaryText
                        }) }}
                    </div>

                    <button type="submit" class="btn btn-orange btn-long">{{ 'Save'|t }}</button>
                    {% endif %}
                </form>

            </div>
        </div>

        {% if currentUser and team is defined %}
            {% set users = team.teamMembers.status('null') %}
            {% set count = 0 %}
            <div class="table-wrapper runners-list">
                <h2>{{ 'Runners & Race Order'|t }}</h2>

                <div class="notification warning">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

                    <p>
                        {{ 'Please note that the order in which your runners appear below is the order that they will run in on race day!'|t }}<br>
                        {% if relatedEvent.lockTeamEditingFrom is not null %}
                            {% if craft.locale == "ja" %}
                                出走順は{{ relatedEvent.lockTeamEditingFrom|date('j F Y') }}まで変更が可能です。
                            {% else %}
                                {{ 'The order can be updated until midnight'|t }} {{ relatedEvent.lockTeamEditingFrom|date('j F Y') }}
                            {% endif %}
                        {% endif %}
                    </p>
                </div>

                {% set event = relatedEvent.title %}
                {% if users|length != 10 %}
                    <div class="notification warning">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

                        <p><strong>{{ 'Alert'|t }}:</strong> {{ 'You currently have'|t }} {{ users|length }} {{ 'runners in your team. Please add more runners to complete your team entry.'|t }}</p>
                    </div>
                {% endif %}

                <form id="update-team-members" method="POST">
                    <input type="hidden" name="action" value="squareMileRelay/teamMembers/updateTeamMembers">
                    <input type="hidden" name="redirect" value="account/teams/{{ team.slug }}/edit">
                    <input type="hidden" name="teamId" value="{{ team.id }}">
                    {{ getCsrfInput() }}

                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ 'Race Order'|t }}</th>
                                <th>{{ 'First Name'|t }}</th>
                                <th>{{ 'Last Name'|t }}</th>
                                <th>{{ 'Email'|t }}</th>
                                <th>{{ 'Status'|t }}</th>
                            </tr>
                        </thead>
                        <tbody id="team-members">
                        {% for user in users %}
                            {% set count = count + 1 %}
                            <tr class="s-drag">
                                <td>
                                    {% if captain|length and user.id == captain.id %}
                                        <span class="captain">C</span>
                                    {% else %}
                                        <i class="fa fa-times btn-remove-member" data-user-id="{{ user.id }}" data-team-id="{{ team.id }}"></i>
                                    {% endif %}
                                </td>
                                {% if captain|length and (currentUser.id == captain.id or currentUser.id == author.id) %}
                                    <td valign="center" class="s-handle">
                                        <i class="fa fa-bars"></i>
                                        <input type="hidden" name="teamMembers[]" value="{{ user.id }}">
                                        <span class="count">{{ count }}</span>
                                    </td>
                                {% else %}
                                    <td>
                                        {% if currentUser.id == author.id %}
                                            <i class="fa fa-bars"></i>
                                        {% endif %}
                                        <span class="count">{{ count }}</span>
                                    </td>
                                {% endif %}
                                <td valign="center">
                                    {% set firstNameLabel = 'First Name'|t %}

                                    {{ formFields.input({
                                        id:          'firstName',
                                        name:        'firstName',
                                        value:       user.firstName,
                                        placeholder: firstNameLabel
                                    }) }}
                                </td>
                                <td valign="center">
                                    {% set lastNameLabel = 'Last Name'|t %}

                                    {{ formFields.input({
                                        id:          'lastName',
                                        name:        'lastName',
                                        value:       user.lastName,
                                        placeholder: lastNameLabel
                                    }) }}
                                </td>
                                <td valign="center">
                                    {% set emailLabel = 'Email'|t %}

                                    {{ formFields.input({
                                        id:   'email',
                                        name: 'email',
                                        value: user.email,
                                        placeholder: emailLabel
                                    }) }}
                                </td>
                                <td valign="center">
                                    {% if user.pending %}

                                        {% if captain|length and (currentUser.id == captain.id or currentUser.id == author.id) %}
                                            <div class="user-status pending"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{ 'Pending Registration'|t }}</div>
                                            <br>
                                            <button type="submit" class="btn btn-black btn-tiny resend">{{ 'Resend'|t }}</button>
                                        {% endif %}

                                    {% else %}

                                        {% set checked = 0 %}
                                        {% set userWaivers = user.acceptedWaivers %}
                                        {% if userWaivers|length %}
                                            {% for waiver in userWaivers %}
                                                {% if waiver.event == event %}
                                                    {% if waiver.acceptedWaiver == 1 %}
                                                        <div class="user-status confirmed"><i class="fa fa-check" aria-hidden="true"></i> {{ 'Registered'|t }}</div>
                                                        {% set checked = 1 %}
                                                    {% else %}
                                                        <div class="user-status pending"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{ 'Pending Injury waiver'|t }}</div>
                                                        <br>
                                                        <button type="submit" class="btn btn-black btn-tiny resend">{{ 'Resend'|t }}</button>
                                                        {% set checked = 1 %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if checked == 0 %}
                                            <div class="user-status pending"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{ 'Pending Injury waiver'|t }}</div>
                                            <br>
                                            <button type="submit" class="btn btn-black btn-tiny resend">{{ 'Resend'|t }}</button>
                                        {% endif %}

                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% set spacesLeft = 10 - users|length %}
                        {% if spacesLeft != 0 %}
                            {% for i in 1..spacesLeft %}
                                {% set count = count + 1 %}
                                <tr class="s-drag">
                                    <td></td>
                                    {% if captain|length and (currentUser.id == captain.id or currentUser.id == author.id) %}
                                        <td class="s-handle">
                                            <div class="dragtooltip">
                                                <span class="dragtooltiptext">{{ 'Drag to order.'|t }}</span>
                                            </div>
                                            <span class="count">{{ count }}</span>
                                        </td>
                                    {% else %}
                                        <td><span class="count">{{ count }}</span></td>
                                    {% endif %}
                                    <td>
                                        {% set firstNameLabel = 'First Name'|t %}

                                        {{ formFields.input({
                                            id:   'firstName',
                                            name: 'newMembers['~ i ~'][firstName]',
                                            placeholder: firstNameLabel
                                        }) }}
                                    </td>
                                    <td>
                                        {% set LastNameLabel = 'Last Name'|t %}

                                        {{ formFields.input({
                                            id:   'lastName',
                                            name: 'newMembers['~ i ~'][lastName]',
                                            placeholder: LastNameLabel
                                        }) }}
                                    </td>
                                    <td>
                                        {% set emailLabell = 'Email'|t %}

                                        {{ formFields.input({
                                            id:   'email',
                                            name: 'newMembers['~ i ~'][email]',
                                            placeholder: emailLabell
                                        }) }}
                                    </td>
                                    <td>
                                        {% if captain|length and (currentUser.id == captain.id or currentUser.id == author.id) %}
                                            <button type="submit" class="btn btn-orange btn-tiny btn-invite-member">{{ 'Send Invitation'|t }}</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </form>

            </div>
        {% endif %}
    </section>

    <script src="{{ craft.config.environmentVariables.baseUrl }}library/js/min/sortable.js"></script>
    <script src="{{ craft.config.environmentVariables.baseUrl }}app.js"></script>
    <script>
        makeSortable('team-members', {
            handle: '.s-handle',
            onEnd: function () {
                document.getElementById('update-team-members').submit();
            }
        });
    </script>
{% endblock %}
