{% set title = team is defined ? team.title : '' %}
{% set summaryText = team is defined ? team.summaryText : '' %}

<div class="row">
    {%- if team is defined and team.teamPhoto.first() -%}
        <div class="col-sm-4">
            {% set teamPhoto = team.teamPhoto.first() %}
            {% if teamPhoto is not null %}
                <img src="{{ url(teamPhoto.url) }}" class="img-responsive">
            {% endif %}

            <input type="file" name="fields[teamPhoto]">
            <button type="text" class="btn btn-info">{{ 'Change Image'|t }}</button>
        </div>
    {%- endif -%}

    <div class="col-sm-4">
        {% set teamNameText = 'Team Name'|t %}
        {{ formFields.input({
            id:    'title',
            label: teamNameText,
            name:  'title',
            value: title
        }) }}

        {% if currentUser %}
            {% set teamLeaderText = 'Team Leader'|t %}
            {{ formFields.dropdown({
                id:         'teamCaptain',
                name:       'fields[teamCaptain][]',
                label:      teamLeaderText,
                value:      team.teamCaptain.first() ? team.teamCaptain.first().id : null,
                options:    craft.users.group('member'),
                optionKeys: [
                    'id',
                    'firstName'
                ]
            }) }}
        {% endif %}

        <button type="submit" class="btn btn-success">{{ 'Save'|t }}</button>
    </div>

    <div class="col-sm-4">
        {% set teamDescriptionText = 'Team Description'|t %}
        {{ formFields.textArea({
            id:    'summaryText',
            label: teamDescriptionText,
            name:  'fields[summaryText]',
            rows:  9,
            value: summaryText
        }) }}
    </div>
</div>
