{% requireLogin %}

{% extends "account/_layout" %}

{% import "_includes/forms/formFields" as formFields %}

{% block subContent %}

    <form method="post" enctype="multipart/form-data" class="my-account tabs-container">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="redirect" value="account/profile">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">

        <a href="{{ url('account/profile') }}" class="tab active"><span class="text">{{ 'My Profile & Results'|t }}</span> <i class="fa fa-user" aria-hidden="true"></i></a>
        <a href="{{ url('account/teams') }}" class="tab"><span class="text">{{ 'My Teams'|t }}</span> <i class="fa fa-users" aria-hidden="true"></i></a>
        <a href="{{ url('account/orders') }}" class="tab"><span class="text">{{ 'Orders & Billing'|t }}</span> <i class="fa fa-credit-card" aria-hidden="true"></i></a>

        <div class="tab-wrapper my-profile active edit">
            <h5>{{ 'My Profile'|t }} <span class="edit-element">- {{ 'Edit Profile'|t }}</span></h5>

            <div class="edit-wrapper">

                <div class="section">

                    <div class="edit-col-small">
                        <div class="profile-img">
                            <label>{{ 'Profile Picture'|t }}</label>
                            {% if currentUser.photoUrl != '' %}
                                <img src="{{ currentUser.photoUrl }}" class="img-responsive" alt="profile image">
                            {% else %}
                                {% set defaultUserImage = defaults.defaultUserImage.first() %}
                                {% if defaultUserImage is not null %}
                                    <img src="{{ defaultUserImage.url }}" class="img-responsive">
                                {% endif %}
                            {% endif %}
                            {# <div class="btn btn-dark-grey btn-tiny">Upload New</div> #}
                        </div>
                    </div>

                    <div class="edit-col-large">
                        <h3>{{ currentUser.firstName ~ " " ~ currentUser.lastName }}</h3>
                        <button type="submit" class="btn btn-orange btn-small save-btn">{{ 'Save'|t }}</button>

                        <div class="notification error hide">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

                            <p><strong>{{ 'Important:'|t }}</strong> {{ 'Please make sure all required fields have been filled in and there are no validation errors.'|t }}</p>

                            <span class="close">{{ 'Got it!'|t }}<i class="fa fa-times" aria-hidden="true"></i></span>
                        </div>

                        <div class="form">

                            <div class="input-wrapper edit-element required">
                                {% set firstNameText = 'First Name'|t %}
                                {{ formFields.input({
                                    id:    'firstName',
                                    label: firstNameText,
                                    name:  'firstName',
                                    placeholder: firstNameText,
                                    value: currentUser.firstName
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element required">
                                {% set lastNameText = 'Last Name'|t %}
                                {{ formFields.input({
                                    id:    'lastName',
                                    label: lastNameText,
                                    name:  'lastName',
                                    placeholder: lastNameText,
                                    value: currentUser.lastName
                                }) }}
                            </div>

                             <div class="input-wrapper edit-element required">
                                {% set emailText = 'Email'|t %}
                                {{ formFields.input({
                                    id:    'email',
                                    label: emailText,
                                    name:  'email',
                                    type: 'email',
                                    placeholder: emailText,
                                    value: currentUser.email
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element">
                                {% set contactNumberText = 'Contact Number'|t %}
                                {{ formFields.input({
                                    id:    'phoneNumber',
                                    label: contactNumberText,
                                    name:  'fields[phoneNumber]',
                                    placeholder: contactNumberText,
                                    value: currentUser.phoneNumber
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element select">
                                {% set genders = craft.fields.getFieldByHandle('gender').getAttribute('settings').options %}
                                {% set genderText = 'Gender'|t %}
                                {{ formFields.dropdown({
                                    id:         'gender',
                                    label:      genderText,
                                    name:       'fields[gender]',
                                    value:      currentUser.gender,
                                    options:    genders,
                                    optionKeys: ['value', 'label']
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element select">
                                {% set dateOfBirthText = 'Date of birth'|t %}
                                {{ formFields.input({
                                    id:    'dateOfBirth',
                                    label: dateOfBirthText,
                                    name:  'fields[dateOfBirth]',
                                    type:  'date',
                                    placeholder: dateOfBirthText,
                                    value: currentUser.dateOfBirth
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element select required">
                                {% set companies = craft.entries.section('company').limit(null).order('title asc') %}
                                {% set companyId = currentUser.relatedCompany.first() ? currentUser.relatedCompany.first().id : null %}
                                {% set companyText = 'Company'|t %}
                                {{ formFields.dropdown({
                                    id:         'relatedCompany',
                                    label:      companyText,
                                    name:       'fields[relatedCompany][]',
                                    placeholder: companyText,
                                    value:      companyId,
                                    options:    companies,
                                    optionKeys: ['id', 'title'],
                                    required:   true
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element">
                                {% set jobTitleText = 'Job Title'|t %}
                                {{ formFields.input({
                                    id:    'jobTitle',
                                    label: jobTitleText,
                                    name:  'fields[jobTitle]',
                                    placeholder: jobTitleText,
                                    value: currentUser.jobTitle
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element no-validation">
                                {% set shirtSizes = craft.fields.getFieldByHandle('shirtSize').getAttribute('settings').options %}
                                {% set shirtSizeText = 'Shirt Size'|t  %}
                                {{ formFields.dropdown({
                                    id:         'shirtSize',
                                    label:      shirtSizeText,
                                    name:       'fields[shirtSize]',
                                    value:      currentUser.shirtSize,
                                    options:    shirtSizes,
                                    optionKeys: ['value', 'label']
                                }) }}
                                <span class="grey">*{{ 'Please specify your preference. This does not guarantee your size'|t }}</span>
                            </div>

                            <div class="input-wrapper edit-element no-validation">
                                <label id="user-photo" for="userPhoto">{{ 'Profile Image'|t }}</label>
                                <input type="file" name="userPhoto" value="Upload Image" placeholder="{{ 'Profile Picture'|t }}" class="input">
                            </div>

                        </div>

                    </div>
                </div>

                <div class="section-grey">
                    <div class="edit-col-small"></div>
                    <div class="edit-col-large">
                        <div class="form">

                            <div class="input-wrapper edit-element">
                               {% set addressLine1Text = 'Address Line 1'|t %}
                               {% set addressLine1TextSmall = 'Address 1'|t %}
                               {{ formFields.input({
                                    id:    'address1',
                                    label: addressLine1Text,
                                    name:  'fields[address1]',
                                    placeholder: addressLine1Textsmall,
                                    value: currentUser.address1
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element">
                                {% set addressLine2Text = 'Address Line 2'|t %}
                                {% set addressLine2TextSmall = 'Address 2'|t %}
                                {{ formFields.input({
                                    id:    'address2',
                                    label: addressLine2Text,
                                    name:  'fields[address2]',
                                    placeholder: addressLine2TextSmall,
                                    value: currentUser.address2
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element">
                                {% set cityText = 'City'|t %}
                                {{ formFields.input({
                                    id:    'addressCity',
                                    label: cityText,
                                    name:  'fields[addressCity]',
                                    placeholder: cityText,
                                    value: currentUser.addressCity
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element">
                                {% set postCodeText = 'Postcode / Zip Code'|t %}
                                {% set postCodeTextSmall = 'Postcode'|t %}

                                {{ formFields.input({
                                    id:    'addressPostcode',
                                    label: postCodeText,
                                    name:  'fields[addressPostCode]',
                                    placeholder: postCodeTextSmall,
                                    pattern: '((\d{5}([\-]\d{4})?)|[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2})',
                                    value: currentUser.addressPostCode
                                }) }}
                            </div>

                            <div class="input-wrapper edit-element select">
                                {% set addressCountry = 'Country'|t %}
                                {{ formFields.dropdown({
                                    id:         'addressCountry',
                                    label:      addressCountry,
                                    name:       'fields[addressCountry]',
                                    placeholder: addressCountry,
                                    value:      currentUser.addressCountry,
                                    options:    craft.commerce.getCountries(),
                                    optionKeys: ['iso', 'name']
                                }) }}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="edit-col-small"></div>
                    <div class="edit-col-large">
                        <div class="form">

                            <div class="input-wrapper edit-element full-width textarea">
                                {% set partTakingText = 'Why are you interested in taking part?'|t %}
                                {{ formFields.textArea({
                                    id:    'whyAreYouInterested',
                                    label: partTakingText,
                                    name:  'fields[whyAreYouInterested]',
                                    rows:  5,
                                    placeholder: partTakingText,
                                    value: currentUser.whyAreYouInterested
                                }) }}
                            </div>

                            {% set teams = craft.entries.section('team').relatedTo(currentUser) %}
                            {% set savedWaivers = currentUser.acceptedWaivers %}
                            <input type="hidden" name="fields[acceptedWaivers]" value="">

                            {% for team in teams %}
                                {% set event = team.relatedEvent.first() %}
                                {% if event|length %}
                                    {% set waiver = event.relatedWaiverForm.first() %}

                                    {% set waiverAgreed = 0 %}
                                    {% for savedWaiver in savedWaivers %}
                                        {% if savedWaiver.event == event.title and savedWaiver.acceptedWaiver == "on" %}
                                            {% set waiverAgreed = 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    <div class="input-wrapper edit-element checkbox{% if loop.index == 1 %} first{% endif %}">
                                        <input type="text" class="hide" name="fields[acceptedWaivers][{{ loop.index - 1 }}][col2]" value="{{ event.title }}">
                                        <input type="hidden" name="fields[acceptedWaivers][{{ loop.index - 1 }}][col1]">
                                        <input class="input" id="checkbox-{{ loop.index - 1 }}" name="fields[acceptedWaivers][{{ loop.index - 1 }}][col1]" type="checkbox" {% if waiverAgreed == 1 %} checked{% endif %} required>

                                        <label for="checkbox-{{ loop.index - 1 }}"></label>
                                        <p>{{ 'I agree to the event'|t }} ({{ event.title }}) <a href="{{ waiver.url }}" target="_blank">{{ 'Injury Waiver Terms and Conditions'|t }}</a></p>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <div class="input-wrapper edit-element checkbox">
                                {% if currentUser.acceptToReceiveInformation == 1 %}
                                    <input class="input" id="checkbox-2" name="fields[acceptToReceiveInformation]" checked="checked" type="checkbox">
                                {% else %}
                                    <input class="input" id="checkbox-2" name="fields[acceptToReceiveInformation]" type="checkbox">
                                {% endif %}

                                <label for="checkbox-2"></label>
                                <p>{{ 'I would like to receive information from Bloomberg'|t }}</p>
                            </div>

                            <div class="input-wrapper edit-element checkbox">
                                {% if currentUser.acceptContactByThirdParties == 1 %}
                                    <input class="input" id="checkbox-3" name="fields[acceptContactByThirdParties]" checked="checked" type="checkbox">
                                {% else %}
                                    <input class="input" id="checkbox-3" name="fields[acceptContactByThirdParties]" type="checkbox">
                                {% endif %}

                                <label for="checkbox-3"></label>
                                <p>{{ "I'm happy to be contacted by 3rd parties"|t }}</p>
                            </div>

                            <button type="submit" class="btn btn-orange btn-small save-btn">{{ 'Save'|t }}</button>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>

{% endblock %}
