<div id="contact" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'Contact Us'|t }}</h4>
            </div>
            <div class="modal-body">
                <div class="input-wrapper">
                    <input class="input" type="text" placeholder="{{ 'Your Name'|t }}">
                    <label>{{ 'Your Name'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That name is invalid.'|t }}</div>
                </div>
                <div class="input-wrapper">
                    <input class="input" type="email" placeholder="{{ 'Email'|t }}">
                    <label>{{ 'Email'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ "That email is invalid."|t }}</div>
                </div>
                <div class="input-wrapper">
                    <input class="input" type="text" placeholder="{{ "Phone"|t }}">
                    <label>{{ 'Phone'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That phone number is invalid.'|t }}</div>
                </div>
                <div class="input-wrapper">
                    <select class="input">
                        <option value="">Dubai</option>
                        <option value="">London</option>
                        <option value="">New York</option>
                    </select>
                    <label>{{ 'City you are interested in'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                </div>
                <div class="input-wrapper">
                    <textarea class="input" placeholder="{{ 'Message'|t }}"></textarea>
                    <label>{{ 'Message'|t }}</label>
                    <i class="fa validation-icon" aria-hidden="true"></i>
                    <div class="msg valid">{{ 'Great!'|t }}</div>
                    <div class="msg in-valid">{{ 'That phone message is invalid.'|t }}</div>
                </div>
                <div class="button-group">
                    <a href="#" class="btn btn-orange btn-long">{{ 'Submit'|t }}</a>
                </div>
            </div>
        </div>

    </div>
</div>