<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'Login'|t }}</h4>
            </div>
            <div class="modal-body">
                <form method="post" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="users/login">
                    <div class="input-wrapper">
                        {% set EmailLabel = 'Email'|t %}

                        {{ formFields.input({
                            id:          'loginName',
                            name:        'loginName',
                            type:         'email',
                            value:       craft.session.rememberedUsername,
                            placeholder: EmailLabel
                        }) }}
                        <label>{{ "Email"|t }}</label>
                        <i class="fa validation-icon" aria-hidden="true"></i>
                        <div class="msg valid">{{ 'Great!'|t }}</div>
                        <div class="msg in-valid">{{ 'Your email is incorrect.'|t }}</div>
                    </div>
                    <div class="input-wrapper">
                        {% set PasswordLabel = 'Password'|t %}
                        {{ formFields.input({
                            id:          'password',
                            name:        'password',
                            type:        'password',
                            placeholder: PasswordLabel
                        }) }}
                        <label>{{ 'Password'|t }}</label>
                        <i class="fa validation-icon" aria-hidden="true"></i>
                        <div class="msg valid">{{ 'Great!'|t }}</div>
                        <div class="msg in-valid">{{ 'Your password is incorrect.'|t }}</div>
                    </div>
                    <p><a href="{{ siteUrl }}forgot-password">{{ 'Forgot your password?'|t }}</a></p>
                    <div class="button-group">
                        <button type="submit" class="btn btn-orange btn-long">{{ 'Login'|t }}</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>