{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% if craft.request.isAjax %}
    {% set layout = "_ajaxLayout" %}
{% else %}
    {% set layout = "_layout" %}
{% endif %}

{% extends layout %}

{% block content %}

    {% if craft.request.isAjax %}

        {% include "_includes/loops/_results-individuals-loop" %}

    {% else %}

    	{% include "_includes/_page-header" %}
        {% include "_includes/_cta-banner" %}

        {% cache %}
        <section class="filters active">
            <div class="filters-btn">
                <p>{{ 'filter'|t }}</p><i class="fa fa-chevron-down" aria-hidden="true"></i>
                <div class="search-results pull-right grid-search">
                    <input type="text" name="search">
                </div>
                <div class="clear"></div>
                <div class="view-all">
                    <div class="btn btn-orange-hollow filter" data-filter="*">{{ 'View All'|t }}</div>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
            <div class="filter-dropdown">
                {% set events = craft.entries.section('event') %}
                {% set years = [] %}
                {% if events | length %}
                    {% for event in events %}
                        {% set year = event.startDateTime | date('Y') %}
                        {% if year not in years %}
                            {% set years = years | merge([year]) %}
                        {% endif %}
                    {% endfor %}

                    <ul class="filter-group small">
                        {% for year in years %}
                            <li class="filter" data-filter="{{ year }}">{{ year }}</li>
                        {% endfor %}
                    </ul>

                {% endif %}
                {% set cities = craft.entries.section('city') %}
                {% if cities | length %}
                <ul class="filter-group large">
                    {% for city in cities %}
                        <li class="filter" data-filter="{{ city.slug }}">{{ city.title }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </section>


        <section class="results-table results-individuals tabs-container">
            <a href="{{ siteUrl }}results/teams" class="tab"><span class="text">{{ 'Teams'|t }}</span> <i class="fa fa-users" aria-hidden="true"></i></a>
            <a href="{{ siteUrl }}results/individuals" class="tab active"><span class="text">{{ 'Individuals'|t }}</span> <i class="fa fa-user" aria-hidden="true"></i></a>

            <div class="table-wrapper tab-wrapper active grid" data-section="results/individuals" data-page="1" data-search="" data-city="" data-year="">
                <div class="isotope-no-items inactive">
                    <h2>{{ 'Sorry!'|t }}</h2>
                    <h3>{{ "There aren't any results for your filter search"|t }}</h3>
                    <div class="btn btn-black filter" data-filter="*">{{ 'View all categories'|t }}</div>
                </div>
                <table class="tablesorter">
                    <thead>
                        <tr>
                            <th><span></span>{{ 'Global Rank'|t }}</th>
                            <th><span></span>{{ 'City Rank'|t }}</th>
                            <th><span></span>{{ 'Name'|t }}</th>
                            <th><span></span>{{ 'Time'|t }}</th>
                            <th><span></span>{{ 'Team'|t }}</th>
                            <th><span></span>{{ 'Race Location'|t }}</th>
                            <th><span></span>{{ 'Race Year'|t }}</th>
                        </tr>
                    </thead>
                    <tbody class="results">

                        {% include "_includes/loops/_results-individuals-loop" %}

                    </tbody>
                </table>
                <div class="load-more">
                    <div class="btn btn-load-more">{{'Load More'|t}}</div>
                </div>
            </div>

            {% include "_includes/_loading" %}

        </section>

        {% endcache %}

    {% endif %}

{% endblock %}
