{% set cityId = craft.squareMileRelay.sessionGet('cityId') %}

<div class="change-city">
    <form method="POST">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="squareMileRelay/session/saveCity">
        <select name="cityId" id="cityId">
            {% for city in cities.limit(0) %}
                {% if city.id == cityId %}
                    <option value="{{ city.id }}" selected="selected">{{ city.title }}</option>
                {% else %}
                    <option value="{{ city.id }}">{{ city.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">{{ 'Choose'|t }}</button>
    </form>
</div>
