{% set countries = craft.commerce.countriesList %}
{% set states = craft.commerce.statesArray %}

{% set modelName = modelName is defined ? modelName : 'address' %}
{% set model = address is defined ? address : null %}

<div class="addressBox {{ modelName }}">

	<div class="row">

		<div class="input-wrapper required">
            <input type="text" id="{{ modelName }}-firstName" class="input" name="{{ modelName }}[firstName]" value="{{ model ? model.firstName : '' }}" placeholder="{{ 'First Name'|t }}" required>
            <label for="{{ modelName }}-firstName">{{ 'First Name'|t }} *</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That name is invalid.'|t }}</div>
            {% if model and model.getErrors('firstName') %}
				<span class="flash">{{ model.getErrors('firstName')|join }}</span>
			{% endif %}
        </div>

        <div class="input-wrapper required">
            <input type="text" id="{{ modelName }}-lastName" class="input" name="{{ modelName }}[lastName]" value="{{ model ? model.lastName : '' }}" placeholder="{{ 'Last Name'|t }}" required>
            <label for="{{ modelName }}-lastName">{{ 'Last Name'|t }} *</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That name is invalid.'|t }}</div>
            {% if model and model.getErrors('lastName') %}
				<span class="flash">{{ model.getErrors('lastName')|join }}</span>
			{% endif %}
        </div>

        <p>{{'If your company has taken part in our race before, please select from the list below:'|t}}</p>
        <div class="input-wrapper select related-company required">
            {% set companies = craft.entries.section('company').order('title asc').limit(null) %}
            {% if companies|length %}
                <select name="fields[relatedCompany][]" id="relatedCompany" class="input" required>
                    <option value="" disabled selected hidden>{{ 'Please select your company'|t }}</option>
                    {% for company in companies %}
                        <option value="{{ company.id }}">{{ company.title }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <label for="relatedCompany">{{ "Company"|t }}</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That company is invalid.'|t }}</div>
        </div>

        {% set currentLocale = craft.i18n.getCurrentLocale() %}
        <div class="input-wrapper checkbox">
            <input id="newCompany" type="checkbox" class="input" name="newCompany" style="position: absolute;">
            <label for="newCompany"></label>
            {% if currentLocale.id == 'ja' %}
                <p class="checkbox-paragraph" style="font-size: 14px;">{{ 'Is your company new to the Square Mile Relay?'|t }}</p>
            {% else %}
                <p class="checkbox-paragraph">{{ 'Is your company new to the Square Mile Relay?'|t }}</p>
            {% endif %}
        </div>

        <div class="input-wrapper new-company-name hide">
            <input id="newCompanyName" type="text" class="input" name="newCompanyName" placeholder="{{ 'Company Name'|t }}">
            <label for="newCompanyName">{{ 'Company Name'|t }}</label>
        </div>

        <div class="input-wrapper required">
            <input type="text" id="{{ modelName }}-address1" class="input" name="{{ modelName }}[address1]" value="{{ model ? model.address1 : '' }}" placeholder="{{ 'Address'|t }} 1" required>
            <label for="{{ modelName }}-address1">{{ 'Address 1'|t }}</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That address is invalid.'|t }}</div>
            {% if model and model.getErrors('address1') %}
				<span class="flash">{{ model.getErrors('address1')|join }}</span>
			{% endif %}
        </div>

        <div class="input-wrapper">
            <input type="text" id="{{ modelName }}-address2" class="input" name="{{ modelName }}[address2]" value="{{ model ? model.address2 : '' }}" placeholder="{{ 'Address'|t }} 2">
            <label for="{{ modelName }}-address2">{{ 'Address 2'|t }}</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That address is invalid.'|t }}</div>
            {% if model and model.getErrors('address2') %}
				<span class="flash">{{ model.getErrors('address2')|join }}</span>
			{% endif %}
        </div>

        <div class="input-wrapper required">
            <input type="text" id="{{ modelName }}-city" class="input" name="{{ modelName }}[city]" value="{{ model ? model.city : '' }}" placeholder="{{ 'City'|t }}">
            <label for="{{ modelName }}-city">{{ 'City'|t }}</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That city is invalid.'|t }}</div>
            {% if model and model.getErrors('city') %}
				<span class="flash">{{ model.getErrors('city')|join }}</span>
			{% endif %}
        </div>

        <div class="input-wrapper required">
            <input type="text" id="{{ modelName }}-zipCode" class="input" name="{{ modelName }}[zipCode]" value="{{ model ? model.zipCode : '' }}" placeholder="{{ 'Zip Code'|t }}" required>
            <label for="{{ modelName }}-zipCode">{{ 'Zip Code'|t }}</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That Zip Code is invalid.'|t }}</div>
            {% if model and model.getErrors('zipCode') %}
				<span class="flash">{{ model.getErrors('zipCode')|join }}</span>
			{% endif %}
        </div>

        <div class="input-wrapper required select">
            <select class="address-country input" name="{{ modelName }}[countryId]" required>
                <option value="select">{{ '- Select -'|t }}</option>
                {% for key, option in countries %}
                    {% set optionValue = (model ? model.countryId : '') %}
                    <option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
            {% if model and model.getErrors('countryId') %}
                <span class="flash">{{ model.getErrors('countryId')|join }}</span>
            {% endif %}
            <label for="{{ modelName }}-countryId">Country *</label>
        </div>

{#         <div class="input-wrapper required">
           <select class="address-addressCountry input" name="{{ modelName }}[addressCountry]">
                <option value="select">{{ '- Select -'|t }}</option>
                {% for key, option in countries %}
                    {% if model.addressCountry is defined %}
                        {% set optionValue = (model ? model.addressCountry : '') %}
                    {% else %}
                        {% set optionValue = '' %}
                    {% endif %}
                    <option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
            <label for="{{ modelName }}-addressCountry">{{ "Country"|t }} *</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That country is invalid.'|t }}</div>
            {% if model and model.getErrors('addressCountry') %}
                <span class="flash">{{ model.getErrors('addressCountry')|join }}</span>
            {% endif %}
        </div> #}

        <div class="input-wrapper required">
            <input type="text" id="{{ modelName }}-phone" class="input" name="{{ modelName }}[phone]" value="{{ model ? model.phone : '' }}" placeholder="{{ 'Phone'|t }}" required>
            <label for="{{ modelName }}-phone">{{ 'Phone'|t }}</label>
            <i class="fa validation-icon" aria-hidden="true"></i>
            <div class="msg valid">{{ 'Great!'|t }}</div>
            <div class="msg in-valid">{{ 'That number is invalid.'|t }}</div>
            {% if model and model.getErrors('phone') %}
                <span class="flash">{{ model.getErrors('phone')|join }}</span>
            {% endif %}
        </div>

	</div>

</div>

    {% includejs %}
    var states = {{ craft.commerce.statesArray|json_encode|raw }};

    $('select.address-country').change(function ()
    {
		// get the value of the selected country.
        var cid = $(this).val();
        var $states = $(this).closest('.addressBox').find('select.address-stateId');
        var $stateName = $(this).closest('.addressBox').find('input.address-stateName');
        $states.find('option').remove();

        if (states.hasOwnProperty(cid))
        {
			// We have states for this country, show the states drop down.
			$states.removeClass('hidden');
			$states.attr('name', $states.data('modelname')+'[stateValue]');

			// We have states for this country, hide the stateName input.
			$stateName.removeAttr('name');
			$stateName.addClass('hidden');
			$stateName.val('');

			// Add all states as options to drop down.
            for (var id in states[cid])
            {
                var state = states[cid][id];
                var $option = $('<option/>');
                $option.attr('value', id).text(state);
                $states.append($option);
            }

        }else{
			// hide the states dropdown, since this country has none.
			$states.addClass('hidden');
			$states.removeAttr('name');

			// show the stateName
			$stateName.removeClass('hidden');
			$stateName.attr('name', $stateName.data('modelname')+'[stateValue]');
		}

    });

    $('select').addClass('form-control input-sm');

    {% endincludejs %}
