{% extends "_layout" %}

{% block content %}


    {% set currentLocale = craft.i18n.getCurrentLocale() %}
    {% if entry is not defined %}
        {% set slug = craft.request.firstSegment %}

        {% if currentLocale != 'en_gb' %}
            {% set slug = craft.request.secondSegment %}
        {% endif %}

        {% set entry = craft.entries({
            section: 'city',
            slug: slug
        }).first() %}
    {% endif %}

    {# {% cache %} #}

    {% set headerImage = entry.backgroundImage.first() %}
    {% set relatedEvents = craft.entries.section('event').relatedTo(entry)|reverse %}
    {% set relatedCompanies = craft.entries.section('company').relatedTo(entry) %}
    {% set currencyCode = entry.currencyIsoCode %}
    {% if currencyCode|length == 0 %}
        {% set currencyCode = 'GBP' %}
    {% endif %}
    {% set year = 0 %}
    {% set years = [] %}
    {% set date = 0 %}
    {% set race = 0 %}
    {% if relatedEvents|length %}
        {% for event in relatedEvents %}
            {% if event.startDateTime|date('Y') not in years %}
                {% set years = years|merge([event.startDateTime|date('Y')]) %}
            {% endif %}

            {% if year < event.startDateTime|date('Y') %}
                {% set year = event.startDateTime|date('Y') %}
                {# {% set date = event.startDateTime|date('l, j F Y') %} #}
                {% set date = event.startDateTime %}
                {% set race = event %}
            {% endif %}

        {% endfor %}
    {% endif %}

    {% if headerImage %}
        {% set imageFocus = headerImage.focalPoint %}
        {% set focalImage = { width: 765, height: 250, mode: 'crop', position: imageFocus } %}
        {# If you want to get a specific transform: #}
        {% set headerImage = headerImage.getUrl(focalImage) %}

        {% if headerImage|slice(0, 1) == 'u' %}
            {% set headerImage = '../' ~ headerImage %}
        {% endif %}

        {% if 'cpresources' in headerImage %}
            {% set headerImage = entry.backgroundImage.first().getUrl() %}
        {% endif %}
    {% endif %}

    <section class="single-city-heading" {% if headerImage|length %}style="background-image: url('{{ headerImage }}');"{% endif %}>
        <div class="wrapper-thin">
            <div class="title">
                <h1>{{ entry.title }}</h1>
                {% if date|length > 1 and date|date('U') > "now"|date('U') %}
                    <h2>{{ 'Next Race:'|t }} {{ date }}</h2>
                {% endif %}
            </div>
        </div>
    </section>

    {% include "_includes/_cta-banner" %}

    {% if date|date('U') > "now"|date('U') %}
        {% set teamTicket = craft.commerce.products.type('teamTicket').relatedTo(race).first() %}
        {% set hospTicket = craft.commerce.products.type('hospitalityPackage').relatedTo(race).first() %}
        {% if teamTicket|length or hospTicket|length %}
            <section class="city-cta">
                <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                <div class="wrapper-thin">
                    <div class="row">
                        {% if teamTicket|length %}
                        {% set included = teamTicket.whatsIncluded %}
                        <div class="col-md-5 col-md-offset-1">
                            <div>
                                <h2>{{ "Enter your team"|t }}</h2>
                                <h3>{{ "Team Entry"|t }}</h3>
                                <p class="cost">
                                    {{ teamTicket.defaultPrice|currency(currencyCode, true) }}
                                    {% if entry.taxName|length %}+ {{ entry.taxName }} {% endif %}
                                    {{ 'per team - 10 runners'|t }}
                                </p>
                                {# <a class="btn btn-orange enter-race-modal" data-city="{{ entry.slug }}" type="button" data-toggle="modal" data-target="#enterRace">{{ "Enter a team"|t }}</a> #}
                                <a href="#" class="btn btn-orange enter-race-modal" type="button" data-toggle="modal" data-target="#enterRace">{{ "Enter a team"|t }}</a>
                                {% if included|length %}
                                <h3>{{ "What's included"|t }}:</h3>
                                <ul>
                                    {% for item in included %}
                                        <li>{{ item.includedItem }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <div class="circle-one"><p>{{ teamTicket.summaryText }}</p></div>
                            </div>
                        </div>
                        {% endif %}
                        <div></div>
                        {% if hospTicket|length %}
                        {% set included = hospTicket.whatsIncluded %}
                        <div class="col-md-5">
                            <div>
                                <h2>{{ "Support a team"|t }}</h2>
                                <h3>{{ "Supporter Packages"|t }}</h3>
                                <p class="cost">
                                    {{ hospTicket.defaultPrice|currency(currencyCode, true) }}
                                    {% if entry.taxName|length %}+ {{ entry.taxName }} {% endif %}
                                    {{ 'per person'|t }}
                                </p>
                                <a class="btn btn-black enter-race-modal" data-city="{{ entry.slug }}" type="button" data-toggle="modal" data-target="#enterRace">{{ "Buy Packages"|t }}</a>
                                {% if included|length %}
                                <h3>{{ "What's included"|t }}:</h3>
                                <ul>
                                    {% for item in included %}
                                        <li>{{ item.includedItem }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <div class="circle-two"><p>{{ hospTicket.summaryText }}</p></div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

    {% if relatedEvents|length > 1 %}
    <section class="races-by-year-nav">
        <h3>{{ 'View Races by Year'|t }}</h3>
        <ul>
            {% set count = 0 %}
            {% for event in relatedEvents %}
                {% set count = count + 1 %}
                {% if count == 1 %}
                    <li class="active" data-year="{{ event.startDateTime|date('Y') }}">{{ event.startDateTime|date('Y') }}</li>
                {% else %}
                    <li data-year="{{ event.startDateTime|date('Y') }}"><a href="{{ event.url }}">{{ event.startDateTime|date('Y') }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <span class="fa fa-chevron-down hide-large"></span>
    </section>
    {% endif %}

    {% if relatedEvents|length %}
    <section class="races-by-year">

        {% set count = 0 %}
        {% for event in relatedEvents %}
            {% set count = count + 1 %}
            {% set relatedPartners = event.relatedPartners %}
            {% set relatedCharities = event.relatedCharity %}
            {% set raceSchedule = event.raceSchedule %}
            {% set year = event.startDateTime|date('Y') %}

            {% if count == 1 %}
            <ul id="citySlideNav" class="slide-nav">
                <li class="active" title="{{ 'Race Overview'|t }}" data-slide="race-overview"><a href="#overview">{{ 'Race Overview'|t }}</a></li>
                <li title="{{ 'The Course'|t }}" data-slide="the-course"><a href="#course">{{ 'The Course'|t }}</a></li>
                {% if raceSchedule|length %}
                <li title="{{ 'The Schedule'|t }}" data-slide="the-schedule"><a href="#schedule">{{ 'The Schedule'|t }}</a></li>
                {% endif %}
                <li title="{{ 'Partners'|t }}" data-slide="partners"><a href="#partners">{{ 'Partners'|t }}</a></li>
                <li title="{{ 'Gallery'|t }}" data-slide="gallery"><a href="#gallery">{{ 'Gallery'|t }}</a></li>
                {% if relatedCharities|length %}
                    <li title="{{ 'Charities'|t }}" data-slide="charities"><a href="#charities">{{ 'Charities'|t }}</a></li>
                {% endif %}
            </ul>

            <div class="race-year active" data-year={{ year }}>

                <div id="overview" class="section city-overview" data-slide="race-overview">
                    <h3 title="{{ 'Race Overview'|t }}">{{ 'Race Overview'|t }}</h3>
                    <div class="row">
                        <div class="col-md-7">
                            {{ event.raceOverview }}
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            {% if relatedCompanies|length %}
                                <h5>{{ "Who's competing?"|t }}</h5>
                                <ul>
                                    {% set companyCount = 0 %}
                                    {% for company in relatedCompanies %}
                                        {% set companyCount = companyCount + 1 %}
                                        <li>{{ companyCount }}. {{ company.title }}</li>
                                    {% endfor %}
                                </ul>
                                <a href="{{siteUrl}}companies" class="btn btn-black">{{ 'All Companies'|t }}</a>
                            {% endif %}

                            {% if event.relatedProudSponsor|length %}
                                <h5>{{ 'Proudly sponsored by:'|t }}</h5>
                                {% for partner in event.relatedProudSponsor %}
                                    {% set logo = partner.companyLogo.first() %}
                                    <a href="{{ siteUrl }}partners?year={{ year }}&city={{ entry.title }}">
                                        <img src={{ logo.url }} alt={{ partner.title }}>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="course" class="section city-course" data-slide="the-course">
                    <h3 title="{{ 'The Course'|t }}">{{ 'The Course'|t }}</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="img-button">
                                {% set courseMap = event.courseMap.first() %}
                                <img src={{ courseMap.url }} alt="Course Map">
                                 <a href="{{ courseMap.url }}" target="_blank" download class="btn btn-orange">{{ 'Download map'|t }}</a>
                            </div>
                            {{ event.simpleContent }}
                        </div>
                        <div class="col-md-4">
                            {% if event.address|length %}
                            <h4>{{ 'Race Village Location'|t }}</h4>
                            <p>{{ event.address|nl2br }}</p>
                            <a href="https://www.google.com/maps/dir//{{ event.address }}" target="_blank" class="btn btn-black">{{ 'Directions'|t }}</a>
                            {% endif %}
                            <h6>{{ 'Spread the word...'|t }}</h6>
                            <ul>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/home?status={{ event.title }} {{ entry.url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ entry.url }}&title={{ event.title }}&summary={{ event.simpleContent|striptags }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                {% if raceSchedule|length %}
                    <div id="schedule" class="section city-schedule active" data-slide="the-schedule">
                        <h3 title="{{ 'The Schedule'|t }}">{{ 'The Schedule'|t }}</h3>
                        <ul class="timeline">
                        {% set count = 0 %}
                        {% for row in raceSchedule %}
                            {% set percentage = (100/(raceSchedule|length)) * count %}
                            {% if count == 0 %}
                                {% set percentage = 0 %}
                            {% endif %}

                            <li style="left: {{ percentage }}%; width: {{100/(raceSchedule|length)}}%;"><strong>{{ row.timeOfDay|date(defaultTimeFormat) }}</strong>{{ row.whatsHappening }}</li>
                            {% set count = count + 1 %}
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div id="partners" class="section city-partners" data-slide="partners">
                    <h3 title="{{ 'Partners'|t }}">{{ 'Partners'|t }}</h3>
                    {% if relatedPartners|length %}
                        <div class="row">
                        {% for partner in relatedPartners %}
                            {% set logo = partner.companyLogo.first() %}
                            <div class="partner-wrapper">
                                <a href="{{ siteUrl }}partners?year={{ year }}&city={{ entry.title }}" class="cover-link"></a>
                                <div class="partner-img" style="background-image: url({{ logo.url }})"></div>
                                <h4>{{ partner.partnerType }}</h4>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <div class="no-results">
                            <h5>{{ 'Sorry!'|t }}</h5>
                            <p>{{ 'There are currently no community partners for this event. Check back later to see our partners for this race!'|t }}</p>
                            <h6>{{ 'Or'|t }}</h6>
                            <a href="{{ siteUrl }}partners" class="btn btn-orange">{{ 'View all our partners'|t }}</a>
                        </div>
                    {% endif %}
                </div>

                <div id="gallery" class="section city-gallery" data-slide="gallery">
                    <h3 title="{{ 'Gallery'|t }}">{{ 'Gallery'|t }}</h3>

                    {% set images = event.eventImages %}
                    {% set prevYear = 0 %}
                    {% if images|length == 0 %}
                        {% set prevYear = 1 %}
                        {% set city = event.relatedCity.first().title %}
                        {% set lastEvent = craft.entries.section('event').search( city ~ " -" ~ year ).first %}
                        {% set images = lastEvent.eventImages %}
                    {% endif %}

                    {% if images|length %}
                        {% if prevYear == 1 %}
                        <h4>{{ "Check out the highlights from last year's race:"|t }}</h4>
                        {% endif %}
                        <div class="gallery-grid no-ajax">
                        {% for image in images.limit(20) %}
                            {% set imageSmall = image.getUrl('newsThumb') %}
                            {% set imageLarge = image.url %}

                            <div class="img-item grid-item slider-modal-link {{ year }} {{ entry.title }}" data-toggle="modal" data-target="#media" data-src="{{ imageLarge }}" data-caption="{{ image.summaryText }}">
                                <img src="{{ imageSmall }}" alt="Gallery Image">
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        {% set lastEvent = craft.entries.section('event').order('startDateTime desc').search('eventImages:*').first() %}
                        <h4>{{ "Check out the highlights from"|t }} {{ lastEvent.title }}</h4>
                        <div class="gallery-grid no-ajax">
                        {% set images = lastEvent.eventImages %}
                        {% for image in images.limit(20) %}
                            {% set imageSmall = image.getUrl('newsThumb') %}
                            {% set imageLarge = image.url %}

                            <div class="img-item grid-item slider-modal-link {{ year }} {{ entry.title }}" data-toggle="modal" data-target="#media" data-src="{{ imageLarge }}" data-caption="{{ image.summaryText }}">
                                <img src="{{ imageSmall }}" alt="Gallery Image">
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if relatedCharities|length %}
                    <div id="charities" class="section city-charities" data-slide="charities">
                        <h3 title="{{ 'Charities'|t }}">{{ 'Charities'|t }}</h3>
                        {% for charity in relatedCharities %}
                            {% set image = charity.coverImage.first() %}
                            <div class="row">
                                <div class="col-md-4">
                                    {% if image is not null %}
                                        <img src="{{ image.url }}" alt={{ charity.title }}>
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <h4>{{ charity.title }}</h4>
                                    <h5>{{ charity.subTitle }}</h5>
                                    {{ charity.bodyContent }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endif %}

        {% endfor %}
    </section>
    {% else %}
    <section class="races-by-year">
        <div class="no-results">
            <h5>{{ 'Sorry!'|t }}</h5>
            <p>{{ "We are currently planning our first race in this city. Please check back later."|t }}</p>
            <br>
            <a href="{{ siteUrl }}" class="btn btn-orange enter-race-modal" type="button" data-toggle="modal" data-target="#enterRace" data-city="{{ entry.slug }}">{{ 'Register you interest'|t }}</a>
        </div>
    </section>
    {% endif %}

    {# <section class="previous-years">
        <div class="year">
            <img src="library/images/demo-news.jpg" alt="">
            <div class="text">
                <h4>2016</h4>
                <p>302 teams</p>
                <p>2978 runners</p>
                <p>Fastest team: 37:54</p>
            </div>
        </div>
        <div class="year">
            <img src="library/images/demo-news.jpg" alt="">
            <div class="text">
                <h4>2015</h4>
                <p>302 teams</p>
                <p>2978 runners</p>
                <p>Fastest team: 37:54</p>
            </div>
        </div>
        <div class="year">
            <img src="library/images/demo-news.jpg" alt="">
            <div class="text">
                <h4>2014</h4>
                <p>302 teams</p>
                <p>2978 runners</p>
                <p>Fastest team: 37:54</p>
            </div>
        </div>
        <div class="year">
            <img src="library/images/demo-news.jpg" alt="">
            <div class="text">
                <h4>2013</h4>
                <p>302 teams</p>
                <p>2978 runners</p>
                <p>Fastest team: 37:54</p>
            </div>
        </div>
    </section> #}

    {% if entry.blockquote|length %}
    {% set image = entry.coverImage.first() %}
    <section class="large-blockquote-img" style="background-image: url({{ image.url }})">
        <div class="wrapper-thin">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>{{ entry.blockquote }}</h2>
                    <p>{{ entry.personsName }}</p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {# {% endcache %} #}

{% endblock %}
