{% extends 'commerce/_layouts/main' %}
{% block main %}
<div class="modal-header">
    <div class="back back-to-cities"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>{{ 'Back'|t }}</span></div>
    <h4 class="modal-title">{{ 'Team Packages'|t }}</h4>
</div>

{% set citySelected = craft.request.getParam('city') %}
{% set isoCode = 'GBP' %}

{% if citySelected|length %}
    {% for product in craft.commerce.products.search(citySelected).order('title desc') %}
        {% set iso = product.relatedCities.first() %}
        {% if iso is not null %}
            {% set isoCode = iso.currencyIsoCode %}
        {% endif %}

        <form method="POST">
            <input type="hidden" name="action" value="commerce/cart/updateCart">
            <input type="hidden" name="redirect" value="commerce/products?city={{ citySelected }}">
            {{ getCsrfInput() }}
            <select name="purchasableId" class="hide">
                {%- for purchasable in product.variants -%}
                    <option {% if purchasable.stock <= 0 and purchasable.unlimitedStock == false %}disabled {% endif %} value="{{ purchasable.purchasableId }}">{{ purchasable.description }} {{ purchasable.salePrice|commerceCurrency(isoCode) }}</option>
                {%- endfor -%}
            </select>

            {# {% set sku = "" %}
            {% for variant in product.variants %}
                {% set sku = variant.sku %}
            {% endfor %}

            {% set inCart = 0 %}
            {% for item in cart.lineItems %}
                {% if item.sku == sku %}
                    {% set inCart = item.qty %}
                {% endif %}
            {% endfor %} #}

            <div class="package">
                <div class="description">
                    <h5>{{ product.title }}</h5>
                    <p>{{ product.bodyContent }}</p>
                </div>
                <div class="quantity">
                    <input type="number" name="qty" value="1">
                </div>
                <div class="price">
                    <p>{{ product.defaultPrice|commerceCurrency(isoCode) }} {# <br/>Excl. Tax #}</p>
                    {# <p>In cart: {{ inCart }}</p> #}
                    {% if product.unlimitedStock or (product.unlimitedStock == false and product.totalStock > 0 ) %}
                        <button type="submit" class="btn btn-black btn-tiny">{{ "Add to basket"|t }}</button>
                    {% else %}
                        <p>{{ "Out of Stock"|t }}</p>
                    {% endif %}
                </div>
            </div>
        </form>

    {% endfor %}

    <div class="checkout">
        {# Update Coupon form uses the single update controller action: #}
        <div class="coupons{% if cart.lineItems|length == 0 %} invalid{% endif %}">
            {% if cart.getError('couponCode') %}<span class="flash">{{ cart.getError('couponCode') }}</span>{% endif %}
            <form method="POST">
                <input type="hidden" name="action" value="commerce/cart/updateCart">
                <input type="hidden" name="redirect" value="commerce/products?city={{ citySelected }}">
                {{ getCsrfInput() }}
                <span class="{% if cart.getError('couponCode') %}has-error{% endif %}">
                <input type="text" name="couponCode" width="11" class="{% if cart.getError('couponCode') %}has-error{% endif %}" value="{{ cart.couponCode }}" placeholder="{{ "Enter Coupon Code"|t }}">
                </span>
                <input type="submit" class="btn btn-full-width btn-orange" value="{% if cart.couponCode %}{{ 'Change Coupon'|t }}{% else %}{{ 'Apply Coupon'|t }}{% endif %}"/>
            </form>
        </div>

        <div class="totals">
            <ul>
                {% if currentUser %}
                    {% for adjustment in cart.adjustments %}
                        <li>
                            {% if adjustment.type == 'Discount' %}
                                {{ 'Discount'|t }}
                                <span>{{ adjustment.amount|commerceCurrency(isoCode, convert=false) }}</span>
                            {% else %}
                                {{ adjustment.type }} {{ adjustment.name }} ({{ adjustment.description }})<span>{{ adjustment.amount|commerceCurrency(isoCode, convert=false) }}</span>
                            {% endif %}
                        </li>
                        <br>
                    {% endfor %}
                    <li>
                        {{ 'Total'|t }}<span>{{ cart.totalPrice|commerceCurrency(isoCode, convert=false) }}</span>
                        <br>
                    </li>
                {% else %}
                <li>
                    {{ 'Total'|t }}<span>{{ cart.itemSubtotal|commerceCurrency(isoCode, convert=false) }}</span>
                    <br>
                    {# <span class="small">Excl. Tax</span> #}
                </li>
                {% endif %}
            </ul>
        </div>

        {% set product = craft.commerce.products.search(citySelected).first() %}

        <div class="terms input-wrapper checkbox">
            <input type="checkbox" class="input{% if cart.lineItems|length %} active{% endif %}" name="terms" id="terms">
            <label for="terms"></label>
            <p>{{ "I accept the"|t }} <a href="{{ product.relatedEvent.first().relatedTermsAndConditions.first().getUrl() }}" target="_blank">{{ "Terms & Conditions"|t }}</a></p>
            <br>
        </div>

        <a href="{{ siteUrl }}commerce/checkout?city={{ citySelected }}" class="btn btn-continue btn-invalid flr">{{ 'Continue'|t }}</a>

        <br>

        <form method="POST">
            <input type="hidden" name="action" value="commerce/cart/removeAllLineItems"/>
            <input type="hidden" name="redirect" value="commerce/products?city={{ citySelected }}"/>
            {{ getCsrfInput() }}
            <input class="btn btn-empty btn-black fll" id="emptyCart" type="submit" value="{{ "Empty Basket"|t }}"/>
        </form>

    </div>

{% endif %}

{% endblock %}
